extends ../../layouts/projectmechanics

block pagehead
  title Project Mechanics - Issue Management
  meta(name='description', content='Project Mechanics - Issue Management')
  meta(name='author', content='Mark Hazleton')
  link(rel='canonical', href='https://markhazleton.controlorigins.com/projectmechanics/change-management/issue-management.html')
  //- Open Graph tags
  meta(property="og:title" content="Project Mechanics - Issue Management")
  meta(property="og:description" content="Project Mechanics - Issue Management")
  meta(property="og:url" content="https://markhazleton.controlorigins.com/projectmechanics/change-management/issue-management.html")
  meta(property="og:type" content="article")
  //- Twitter Card data
  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:title" content="Project Mechanics - Issue Management")
  meta(name="twitter:description" content="Project Mechanics - Issue Management")
  //- Additional tags
  meta(name="robots" content="index, follow")
  meta(name="language" content="English")
  meta(name="revisit-after" content="7 days")

block layout-content

  section#post.projectmechanics-section.projectmechanics-section-background
    .projectmechanics-section-content
      h1 Issue Management
      .subheading.mb-3 Change is Inevitable
      p.lead.
        Issue resolution is an important aspect of project management because it helps to ensure that problems
        and challenges are addressed and resolved in a timely and effective manner.
        This can have a positive impact on the overall success of a project.
      p.
        Effective issue resolution involves identifying and addressing issues as they arise, rather than letting them fester and potentially impact the project negatively. This can be done through regular communication with team members, as well as the use of tools such as project management software and issue tracking systems.
      p.
        Once an issue is identified, it is important to prioritize it based on its potential impact on the project. The issue should then be assigned to a team member or group who is responsible for resolving it. This team should work to identify the root cause of the issue and come up with a plan for addressing it.
      p.
        The resolution of the issue should be closely monitored to ensure that it is being handled effectively. This may involve regular check-ins with the team responsible for resolving the issue, as well as regular updates to the project manager and other stakeholders.
      p.
        Overall, effective issue resolution is an important part of successful project management. By addressing issues quickly and effectively, project managers can help to ensure that their projects are completed on time and within budget.
      h3 Is it an Issue?
      p.
        Due to the dynamic and fast pace of changes in projects, there is a need for a centralized clearinghouse
        for all issues related to a project. The centralized issue management clearinghouse is used to capture
        and prioritize each issue.
        A common issue log database facilitates open communication between the project management
        and project stakeholders.
        To achieve the maximum benefit from an issue log, a set of procedures should be created to manage issues as they arise.

      h3 Issue Lifecycle
      p.
        Once captured, issues need to be assigned to the appropriate team and prioritized. This will facilitate quick and concise communications between the Client and project management regarding the development status and the status of all issues that (may) affect it.
      ol
        li
          strong Receive Issues
          |  - All requests for work between project management and the client should be documented as an issue. Issues can be received by any contacts such as electronic mail, phone calls, faxes, or mailed requirements.
          br
          | In addition to issues created by the Client, project personnel should also create issues in the database for Review. Any updates to the issue, including any changes, re-interpretations, clarifications, or decision happening out side the database&nbsp;should be documented in the issue resolution database to ensure proper handling and resolution.
        li
          strong Prioritize Issues
          |  - Based on input from the issue creator, project management should assign priority to each issue. The priority should be used once the issue has been reviewed and categorized.
        li
          strong Review Issues
          |  - Project Management should review each new issue and assign the issue to one of the following six issue categories (This list can be modified to fit the needs of the project):
          ul
            li Functional Bugs (Not working as defined)
            li Content Changes
            li Stability and Performance Issues (Requires specialized skill set to resolve)
            li Site Enhancements (Changes to the functional definition of the site)
            li Research Request (Requires specialized skill set to resolve)
            li
              | Process change (new reporting requirements, status call changes, distribution list changes)
        li
          strong Assign Issues
          |  - The issue should be assigned to the appropriate team members. Once an issue has been assigned to a team, it is the responsibility of each team manager to monitor and resolve issues in their area. The Project Manager is responsible for monitoring the success of the issue resolution process.&nbsp; Issues will be associated with a project. It is up to the project manager to review each issue and determine if a scope change is required. Any issues that affect budget or schedule must have a scope change document approved that covers the change that the issues creates.&nbsp; Multiple issues can be covered by a single scope change document.
        li
          strong Resolve Issues -
          | The issue is considered resolved when all points have been addressed and any modifications validated.

      h3 Issue Status Codes Defined
      ul
        li
          strong Outstanding
          |  - An issue has been reported and is awaiting review/assignment.
        li
          strong Assigned
          |  - The issue is assigned to a resource, however, work has not started on the issue.
        li
          strong In Progress
          |  - The issues are actively being worked on.
        li
          strong Awaiting Feedback
          |  - The issues require a business decision on the appropriate response. All work is suspended pending feedback.
        li
          strong Ready To Test
          |  - The issue has been fixed and the fix in an environment for the owner to test and validate the issue has been resolved. All work has been suspended.
        li
          strong Resolved
          |  - The owner and assignee agree that the issue has been resolved. All work is suspended.
        li
          strong Not Reproducible
          |  - The Assignee has been unable to reproduce the reported problem. The owner has been consulted and concurs with the assignee that the problem is not reproducible. All work is suspended.
        li
          strong Hold
          |  - This issue has been placed on hold by either the owner or assignee. All work is suspended.
        li
          strong Rejected
          |  - This issue has been rejected by the assignee as not an issue. All work is suspended.
        br

      h3 Importance of Issue Tracking
      p
        | Creating an effective issue capture form is an important part of managing issues in a project. This form can help project managers and team members to identify, track, and resolve issues in a timely and effective manner.
      p
        | To create an issue capture form, start by identifying the key information that needs to be included. This may include the following:
      ul
        li A brief description of the issue
        li The date and time the issue was identified
        li The name of the person who identified the issue
        li The location or area of the project where the issue was identified
        li The potential impact of the issue on the project
        li
          | Any other relevant information, such as the root cause of the issue or potential solutions
      p
        | Once this information has been identified, the next step is to create the form itself. This can be done using a word processing or spreadsheet program, or with the help of a project management software tool.
      p
        | When creating the form, make sure to use a clear and concise format that is easy to understand and fill out. Consider using visual aids, such as checklists or drop-down menus, to make it easier for team members to provide the necessary information.
      p
        | Once the form has been created, it should be distributed to all team members and stakeholders involved in the project. This will allow them to easily submit any issues they identify, and will ensure that all issues are tracked and addressed in a consistent manner.
      p
        | Overall, an effective issue capture form is an important tool for project managers looking to identify, track, and resolve issues in a timely and effective manner. By creating a clear and concise form, project managers can ensure that all issues are captured and addressed effectively, helping to ensure the success of their project.
      p
        | Issues are captured using the Issue Capture Form within an issue tracking system.
      h4 Here is an example of an issue tracking form definition
      p
        strong REQUIRED fields:
      ul
        li
          strong Issue Datetime
          |  - Date and time that issue was recorded.
        li
          strong Issue Status
          |  - Choice list from code table called &quot;IssueStatus&quot;
        li
          strong Requirement
          | - Project Requirement that owns issue
        li
          strong Issue Title
          |  - Free-form text field to describe the issue
        li
          strong Priority
          |  - Choice list from code table &quot;Priority&quot;
        li
          strong Type
          |  - Choice list from code table called &quot;IssueType&quot;
        li
          strong Assigned To
          |  - Primary contact for issue resolution.
        li
          strong Owner
          |  - The person reporting the issue, will be the primary contact to validate issue resolution
        li
          strong Owner Phone
          |  - Owner preferred contact phone number
        li
          strong Description of Issue
          |  - Text field for details about the issue
      p
        strong OPTIONAL fields:
      ul
        li
          strong Estimated Hours
          |  - Choice list to estimate how many hours the issue will require to resolve
        li
          strong Remaining
          | - Estimate how many more hours will be required to resolve the issue.
        li
          strong Complete Date
          |  - Date issue is closed (status of Resolved, Not Recreatable, Hold, or Rejected)
        li
          strong Resolution
          |  - Text field to describe issue resolution
