//
// Sections
//
section.painteddesert-section {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 75rem;  // Maximum width for larger screens
    margin: 0 auto;  // Center the content

    .painteddesert-section-content {
        width: 90%;
        max-width: 1140px;  // Max width for large screens
        margin: 0 auto;  // Center content within the section
        h1 {
            font-weight: 700;
            margin-bottom: 0.5rem;  // Add space between h1 and subheading
            font-size: 1.5rem;  // Base font size for smaller screens
        }
        h2 {
            font-weight: 600;
            font-size: 1.2rem;  // Subheading font size
            margin-bottom: 1rem;  // Spacing below the subheading
        }
        span.accordion-header {
            font-weight: 600;
            font-size: 1.2rem;  // Subheading font size
            margin-bottom: 0;  // Spacing below the subheading
        }
        h3 {
            font-weight: 600;
            font-size: 1.2rem;  // Subheading font size
            margin-bottom: 1rem;  // Spacing below the subheading
        }
        .subheading {
            font-weight: 600;
            font-size: 1.2rem;  // Subheading font size
            margin-bottom: 1rem;  // Spacing below the subheading
        }
        p.lead {
            font-size: 1.125rem;  // Consistent size for lead paragraph
            font-weight: 300;
            margin-bottom: 1.5rem;
        }
    }
}

.painteddesert-background {
    background-image: url("/assets/img/painteddesert.jpg") !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.painteddesert-section-background {

    .painteddesert-section-content {
        width: 100%;
        max-width: 1140px;  // Max width for large screens
        margin: 0 auto;  // Center the content
        background-color: snow;
        color: black;
        opacity: 0.95;
        padding: 2rem 2rem 2rem 2rem;
    }
}

@include media-breakpoint-up(md) {
    section.painteddesert-section {
        min-height: 100vh;
    }
}

@include media-breakpoint-up(lg) {
    section.painteddesert-section {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 5rem;
        padding-bottom: 5rem;

        .painteddesert-section-content {
            font-size: 1.2rem;  // Scale up font size for large screens
            h1 {
                font-size: 1.8rem;  // Heading size for large screens
                margin-bottom: 0.75rem;  // Space between h1 and subheading
            }
            h2 {
                font-size: 1.6rem;  // Subheading size for large screens
                margin-bottom: 1rem;  // Spacing below subheading
            }
            span.accordion-header {
                font-weight: 600;
                font-size: 1.6rem;  // Subheading font size
                margin-bottom: 0;  // Spacing below the subheading
            }
            h3 {
                font-size: 1.6rem;  // Subheading size for large screens
                margin-bottom: 1rem;  // Spacing below subheading
            }
            .subheading {
                font-size: 1.6rem;  // Subheading size for large screens
                margin-bottom: 1rem;  // Spacing below subheading
            }
            p.lead {
                font-size: 1.25rem;  // Lead paragraph size for large screens
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    section.painteddesert-section {
        .painteddesert-section-content {
            font-size: 1.2rem;  // Slightly increased but controlled font size for xl screens
            h1 {
                font-size: 1.8rem;  // Heading size for xl screens
                margin-bottom: 0.75rem;  // Space between h1 and subheading
            }
            h2 {
                font-size: 1.6rem;  // Subheading size for large screens
                margin-bottom: 1rem;  // Spacing below subheading
            }
            span.accordion-header {
                font-weight: 600;
                font-size: 1.6rem;  // Subheading font size
                margin-bottom: 0;  // Spacing below the subheading
            }
            h3 {
                font-size: 1.6rem;  // Subheading size for large screens
                margin-bottom: 1rem;  // Spacing below subheading
            }
            .subheading {
                font-size: 1.6rem;  // Subheading size for xl screens
                margin-bottom: 1rem;  // Spacing below subheading
            }
            p.lead {
                font-size: 1.4rem;  // Lead paragraph size for xl screens
            }
        }
    }
}



