//
// Sections
//

section.painteddesert-section {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 75rem;

    .sidetracked-section-content {
        width: 100%;
    }
}

section.painteddesert-section-background {
    background-image: url("/assets/img/painteddesert.jpg") !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .painteddesert-section-content {
        width: 100%;
        background-color: snow;
        color: black;
        opacity: 0.95;
        padding: 2rem 2rem 2rem 2rem;
    }
}

@include media-breakpoint-up(md) {
    section.painteddesert-section {
        min-height: 100vh;
    }
}

@include media-breakpoint-up(lg) {
    section.painteddesert-section {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}
