//
// Sections
//
body.projectmechanics-body {
    padding-top: 0;
    padding-left: 0;
    overflow-x: hidden;
  }
  article.projectmechanics-section {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    margin-top: 0 !important;
    margin-bottom: 3rem !important;

    .projectmechanics-section-content {
        width: 90%;
        max-width: 1140px;  // Max width for large screens
        margin: 0 auto;  // Center the content
        h1 {
            max-width: 90%;
            font-weight: 700;
            margin-bottom: 0.5rem;  // Added margin-bottom to space it from h2
            font-size: 1.5rem;  // Adjusted default font size for smaller screens
        }
        h2.subheading {
            font-weight: 600;
            font-size: 1.2rem;  // Consistent font size for subheading
            margin-bottom: 1rem;  // Added margin to space it properly below h1
        }
        p.lead {
            font-size: 1.125rem;  // Consistent size for lead paragraph
            font-weight: 300;
            margin-bottom: 1.5rem;
        }
    }
}
.projectmechanics-background {
    background-image: url("/assets/img/ArgostoliGreeceBeach.jpg") !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

article.projectmechanics-section-background {

    .projectmechanics-section-content {
        width: 100%;
        max-width: 1140px;  // Max width for large screens
        margin: 0 auto;  // Center the content
        background-color: snow;
        color: black;
        opacity: 0.95;
        padding: 1rem 1rem 1rem 1rem;
    }
}

// Bootstrap's media-breakpoint-up provides breakpoints for different screen sizes
@include media-breakpoint-up(md) {
    article.projectmechanics-section {
        min-height: 100vh;
    }
}

@include media-breakpoint-up(lg) {
    article.projectmechanics-section {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
        .projectmechanics-section-content {
            font-size: 1.8rem;  // Reduced font size for large screens
            h1 {
                font-size: 2rem;  // Reduced heading size for large screens
                margin-bottom: 0.75rem;  // More spacing between h1 and h2 for larger screens
            }
            h2.subheading {
                font-size: 1.5rem;  // Consistent subheading size
                margin-bottom: 1rem;  // Space it properly below h1
            }
            p.lead {
                font-size: 1.25rem;  // Consistent lead paragraph size
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    article.projectmechanics-section {
        .projectmechanics-section-content {
            font-size: 1.2rem;  // Slightly increased but controlled font size for xl screens
            h1 {
                font-size: 1.8rem;  // Reduced heading size for xl screens
                margin-bottom: 0.75rem;  // Space between h1 and h2 on xl screens
            }
            h2.subheading {
                font-size: 1.6rem;  // Consistent subheading size for xl screens
                margin-bottom: 1rem;  // Space it properly below h1
            }
            h3 {
                font-size: 1.4rem;  // Reduced heading size for xl screens
                margin-bottom: 0.75rem;  // Space between h1 and h2 on xl screens
            }

            p.lead {
                font-size: 1.3rem;  // Consistent lead paragraph size for xl screens
            }
        }
    }
}
