//
// Sections
//
body.projectmechanics-body {
    padding-top: 0;
    padding-left: 0;
    overflow-x: hidden;
  }


section.projectmechanics-section {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    margin-top: 0 !important;
    margin-bottom: 3rem !important;

    .projectmechanics-section-content {
        width: 90%;
        h1,h2
        {
            max-width: 90%;
            font-weight: 700;
            margin-bottom: 1rem;
        }
    }
}

section.projectmechanics-section-background {
    background-image: url("/assets/img/ArgostoliGreeceBeach.jpg") !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .projectmechanics-section-content {
        width: 100%;
        background-color: snow;
        color: black;
        opacity: 0.95;
        padding: 1rem 1rem 1rem 1rem;
    }
}

@include media-breakpoint-up(md) {
    section.projectmechanics-section {
        min-height: 100vh;
    }
}

@include media-breakpoint-up(lg) {
    section.projectmechanics-section {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}
