#accordionArticles.accordion
  .accordion-item
    h2#BusinessHeading.accordion-header
      button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#BusinessCollapse' aria-expanded='true' aria-controls='BusinessCollapse')
        | Business
    #BusinessCollapse.accordion-collapse.show(aria-labelledby='BusinessHeading' )
      .accordion-body
        ul.list-group
          li.list-group-item.flex-fill
            a(href='/sidetrackedbysizzle.html' target='_self' title='Sidetracked by Sizzle') Sidetracked by Sizzle
          li.list-group-item.flex-fill
            a(href='/lifelong-learning.html' target='_self' title='Lifelong Learning') Lifelong Learning
          li.list-group-item.flex-fill
            a(href='/evolution-over-revolution.html' target='_self' title='Evolution Over Revolution') Evolution Over Revolution
          li.list-group-item.flex-fill
            a(href='/from-features-to-outcomes.html' target='_self' title='From features to outcomes') From Features to Outcomes
          li.list-group-item.flex-fill
            a(href='/accountability-and-authority.html' target='_self' title='Accountability and Authority') Accountability and Authority
          li.list-group-item.flex-fill
            a(href='/program-management-office.html' target='_self' title='Program Management Office') Program Management Office
          li.list-group-item.flex-fill
            a(href='/project-life-cycle.html' target='_self' title=' Project Life Cycle') Project Life Cycle

  .accordion-item
    h2#DevelopmentHeading.accordion-header
      button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#DevelopmentCollapse' aria-expanded='true' aria-controls='DevelopmentCollapse')
        | Development
    #DevelopmentCollapse.accordion-collapse.show(aria-labelledby='DevelopmentHeading' )
      .accordion-body
        ul.list-group
          li.list-group-item.flex-fill
            a(href='/sample-mvc-crud.html' target='_self' title='SampleMvcCRUD Project') SampleMvcCRUD Project
          li.list-group-item.flex-fill
            a(href='/decorator-pattern-http-client.html' target='_self' title='The Decorator Pattern with Http Client') Decorator Pattern:HttpClient
          li.list-group-item.flex-fill
            a(href='/nuget-packages-pros-cons.html' target='_self' title='The Pros and Cons of Using NuGet Packages in Your Projects') NuGet Packages: Pros and Cons
          li.list-group-item.flex-fill
            a(href='/git-organized.html' target='_self' title='Git Organized') Git Organized
          li.list-group-item.flex-fill
            a(href='/web-project-mechanics.html' target='_self' title='Web Project Mechanics') Web Project Mechanics
          li.list-group-item.flex-fill
            a(href='/data-analysis-demonstration.html' target='_self' title='Data Analysis Demonstration') Data Analysis Demonstration
          li.list-group-item.flex-fill
            a(href='/cancellation-token.html' target='_self' title='CancellationToken') Asynchronous Programing with Cancellation Tokens
          li.list-group-item.flex-fill
            a(href='/git-flow-rethink.html' target='_self' title='Git Flow Rethink') Git Flow Rethink

  .accordion-item
    h2#ChatGPTHeading.accordion-header
      button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#ChatGPTCollapse' aria-expanded='true' aria-controls='ChatGPTCollapse')
        | Chat GPT
    #ChatGPTCollapse.accordion-collapse.show(aria-labelledby='ChatGPTHeading' )
      .accordion-body
        ul.list-group.list-group-flush
          li.list-group-item
            a(href='/using-chatgpt-for-developers.html' title='Using ChatGPT for Developers') Using ChatGPT for Developers
          li.list-group-item
            a(href='/trivia-spark-development.html' title='Trivia Spark With Chat GPT') Trivia Spark With Chat GPT
          li.list-group-item
            a(href='/crafting-chatgpt-prompt.html' title='Crafting ChatGPT Prompt') Crafting ChatGPT Prompt
