mixin renderAccordion(links)
  - let groupedLinks = {}
  each link in links
    - if (groupedLinks[link.Section])
      - groupedLinks[link.Section].push(link)
    - else
      - groupedLinks[link.Section] = [link]

  each sectionKey in Object.keys(groupedLinks)
    - const section = sectionKey
    - const links = groupedLinks[sectionKey]
    - links.sort((a, b) => a.name.localeCompare(b.name))

    #accordionArticles.accordion
      .accordion-item
        h2#BusinessHeading.accordion-header
          button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#BusinessCollapse' aria-expanded='true' aria-controls='BusinessCollapse')= section
        #BusinessCollapse.accordion-collapse.show(aria-labelledby='BusinessHeading' )
          .accordion-body
            ul.list-group
            each link in links
              li.list-group-item.flex-fill
                a(href=`${link.slug}` target='_self' title=`${link.description}`) #{link.name}

+renderAccordion(articles)
