// Education
section#education.resume-section
  .resume-section-content
    h2.mb-5 Education
    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
      .flex-grow-1
        h3.mb-0
          a(href="https://www.linkedin.com/pulse/learning-2022-mark-hazleton/" rel="noopener noreferrer" target="_blank") Learning In 2022
        .subheading.mb-3
          a(href='https://app.pluralsight.com/profile/markhazleton' title="Mark Hazleton Pluralsight Profile" rel="noopener noreferrer" target="_blank") Pluralsight Profile
          a(href='https://docs.microsoft.com/en-us/users/mark-hazleton' title="Mark Hazleton Microsoft Learn Profile" rel="noopener noreferrer" target="_blank") Microsoft Learn Profile

    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
      .flex-grow-1
        h3.mb-0  Systems Engineer Development (SED) Program
        .subheading.mb-3  Electronic Data Systems (EDS)
    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
      .flex-grow-1
        h3.mb-0 University of North Texas
        .subheading.mb-3 Bachelor of Arts
          div General Studies - Business, Communications, Radio TV &amp; Film
