// Interests
section#interests.resume-section
  .resume-section-content
    h2.mb-5 Interests
    p.
      Apart from being an avid technologist, I find joy in exploring various activities
      that allow me to immerse myself in different experiences.
      Here are a few of my passions outside of work:
    dl
      dt Travel and Outdoor Exploration
      dd.
        Imagine the joy of immersing oneself in different experiences and uncovering the
        wonders of the world through serendipitous encounters.
        That's the thrill I seek through travel and spending time outdoors.
        Whether it's discovering new destinations or stumbling upon hidden gems nestled within charming towns,
        I find solace in exploring the world around me. As I wander through unfamiliar streets,
        a sense of excitement fuels my curiosity, leading me to remarkable discoveries and unforgettable moments.

      dt Hiking and City Exploration
      dd.
        As the warmer months arrive, I take pleasure in hiking through picturesque trails
        and uncovering hidden gems within cities.
        Exploring new surroundings allows me to broaden my perspective
        and appreciate the diverse cultures and landscapes that exist.
        With every step I take, I embrace the joy of serendipity, allowing chance encounters
        and unexpected detours to guide my exploration.
        The fusion of nature's beauty and the vibrant pulse of urban life captivates my senses,
        igniting a deep appreciation for diverse cultures and awe-inspiring landscapes.

      dt Culinary Adventures
      dd.
        I am an outdoor cooking enthusiast, I've been drawn to the world of smoking and grilling,
        consistently discovering new ways to infuse flavors. Through hands-on experience,
        I've developed a knack for handling smoking techniques, experimenting with different wood types,
        and embracing various grilling styles.
        My approach revolves around the shared happiness that these culinary ventures bring,
        fostering connections through the love of food.

    br.m-0

