// Skills
section#skills.resume-section
  .resume-section-content
    h2.mb-5 Skills
    .subheading.mb-3 Languages & Tools

    ul.list-inline.dev-icons
      li.list-inline-item
        a(href='https://visualstudio.microsoft.com/' target="_blank"  rel="noopener noreferrer" title="Visual Studio" )
          i.devicon-visualstudio-plain-wordmark
      li.list-inline-item
        a(href='https://docs.microsoft.com/en-us/dotnet/csharp/' target="_blank"  rel="noopener noreferrer" title="C# Language" )
          i.devicon-csharp-plain
      li.list-inline-item
        a(href='https://docs.microsoft.com/en-us/dotnet/' target="_blank" rel="noopener noreferrer" title=".NET" )
          i.devicon-dotnetcore-plain
      li.list-inline-item
        a(href='https://azure.microsoft.com/en-us/' target="_blank" rel="noopener noreferrer" title=".Microsoft Azure" )
          i.devicon-azure-plain
      li.list-inline-item
        a(href='https://www.docker.com/' target="_blank" rel="noopener noreferrer" title="Docker" )
          i.devicon-docker-plain
      li.list-inline-item
        a(href='https://aws.amazon.com/' target="_blank" rel="noopener noreferrer" title="Amazon Web Services" )
          i.devicon-amazonwebservices-plain
      li.list-inline-item
        a(href='https://git-scm.com/' target="_blank" rel="noopener noreferrer" title="Git version control system" )
          i.devicon-git-plain
      li.list-inline-item
        a(href='https://github.com/' target="_blank" rel="noopener noreferrer" title="Git Hub" )
          i.devicon-github-plain
      li.list-inline-item
        a(href='https://standardmarkdown.com/' target="_blank" rel="noopener noreferrer" title="Markdown" )
          i.devicon-markdown-plain
      li.list-inline-item
        a(href='https://getbootstrap.com/' target="_blank" rel="noopener noreferrer" title="Bootstrap" )
          i.devicon-bootstrap-plain
      li.list-inline-item
        a(href='https://gulpjs.com/' target="_blank" rel="noopener noreferrer" title="Gulp Javascript Build Toolkit" )
          i.fab.fa-gulp
      li.list-inline-item
        a(href='https://www.npmjs.com/' target="_blank" rel="noopener noreferrer" title="NPM Package Registry" )
          i.devicon-npm-original-wordmark
      li.list-inline-item
        a(href='https://www.nuget.org/' target="_blank" rel="noopener noreferrer" title="NuGet Package Registry" )
          i.devicon-nuget-original

    .subheading.mb-3 Roles and Processes
    ul
      li Cloud Solution Architect
      li DevOps continuous integration / continuous deployment (CI/CD)
      li Cross Functional Teams
      li Agile Development &amp; Scrum
