extends ../../layouts/projectmechanics

block pagehead
  title Project Mechanics - Conflict Management
  meta(name='description', content='Project Mechanics - Conflict Management for Project Managers')
  meta(name='author', content='Mark Hazleton')
  link(rel='canonical', href='https://markhazleton.controlorigins.com/projectmechanics/conflict-management')

block layout-content

  section#post.projectmechanics-section.projectmechanics-section-background
    .projectmechanics-section-content
      h1 Conflict Management
      h2.subheading.mb-3 Conflict Management for Project Managers
      p.lead.
        Learn effective conflict management strategies to enhance your project management skills.
        Discover how to navigate conflicts among team members and clients.
        Learn techniques to handle poor performance.
        Ensure project success with these expert tips.
      p.
        Conflict management is an indispensable skill for project managers as conflicts are inherent
        in any project and can significantly impact team dynamics and project outcomes.
        In today's diverse project teams, conflicts can arise from differences in personality, perception,
        and task execution styles. This diversity, while valuable, also brings inevitable conflicts,
        from minor disagreements to more severe clashes.
      p.
        Conflict, in essence, arises from the gap between perceived reality and the ideal scenario.
        However, it's important to recognize that conflict can be healthy, allowing participants
        to gain a deeper understanding of issues and tasks.
        The key is to apply the appropriate conflict resolution approach when it occurs,
        promoting consensus to gain buy-in from both clients and team members.
      p.
        Project managers must consider two crucial aspects of the conflict:
        Its impact on personal relationships among participants
        and its effect on project tasks.
        To foster strong relationships and maintain progress toward project objectives,
        Project managers need to employ a variety of conflict-resolution styles
        and recognize the styles used by others to identify common ground.
      h3 Common Causes of Project Conflict
      dl
        dt Personality Conflict (Team Member to Team Member)
        dd
          p.
            Personality conflicts within the team can range from minor differences affecting teamwork to major conflicts
            disrupting project collaboration. Swift and private resolution is essential.
          ul
            li Minor Conflict: Counsel team members to find common ground and build consensus.
            li Moderate Conflict: Provide counseling and, if necessary, separate team members.
            li Major Conflict: Consider complete separation if feasible; otherwise, remove one of the conflicting team members.
          p.
            It's crucial to understand that even though you may not empathize with your team members' differences,
            these differences can significantly impact performance. Always aim to facilitate conflict discussions
            and find solutions balancing project goals and team members' personal needs.

        dt Personality Conflict (Team Member to Client)
        dd
          p.
            Dealing with conflicts involving client personnel adds complexity due to less autonomy in resolving issues.
            Building strong relationships with clients allows for open discussions and consensus if possible.
            If not, consider influencing the troubled team member to accommodate the client, reassigning tasks,
            or in extreme cases, removing the team member.
          p.
            Timely and diplomatic resolution of conflicts with client personnel is crucial to maintain
            a positive client relationship.
            The approach may vary based on the Project Manager's relationship with both the client personnel and client management.
        dt Personality Conflict (Project Manager to Client)
        dd
          p.
            Conflict between the Project Manager and client should be limited to simple disagreements
            that can be resolved through consensus. Always strive for at least an initial level of
            consensus in discussions.
            Prepare thoroughly with the necessary information to minimize conflicts,
            as avoiding conflict entirely can lead to project failure.
          p.
            The handbook's primary purpose is to equip Project Managers with tools to ensure project success.
            Conflicts with clients often stem from unexpected scope, time, or budget changes.
            A well-run project reduces personality conflicts to minor issues and establishes
            solid project management standards to operate effectively.
          p.
            The Project Manager's role also includes buffering Company personnel
            from difficult client interactions.
            Maintain a high level of tolerance, deliver difficult messages with substantiation,
            and seek assistance from other Company management personnel if necessary.
            While some conflict is inevitable, never tolerate "abuse."
        dt Poor Performance (Company Team Member)
        dd
          p.
            Addressing poor performance assumes that the team member can improve.
            Identify factors contributing to the performance gap, discuss them with the team member,
            formulate a plan, and monitor progress. If poor performance persists,
            consider reassignment or, in extreme cases, removal.
        dt Poor Performance (Client Team Member)
        dd
          p.
            When client team members underperform,
            Project Managers may lack the authority to address the issues directly.
            Document problematic behavior and attempts at rectification,
            then bring the issue to the client sponsor's attention.
            Collaborate with client management to find a solution that doesn't disrupt the project timeline.
        dt Dating Between Team Members
        dd
          p.
            It is important to avoid dating within project teams,
            especially when one party has authority over the other.
            Dating can lead to favoritism concerns among team members and
            create friction in case of relationship termination.
            Strictly forbid dating among team members and address violations privately.


    .projectmechanics-section-content
      h2 Time-Tested Conflict Resolution Techniques
      p.lead.
        Effective conflict resolution is vital for project success.
        Learn the importance of consensus and explore tools and techniques that project managers can use to facilitate resolution,
        identify common ground, and analyze each position for the best outcomes.
      p.
        The following approaches to conflict management were introduced by
        <a href='https://en.wikipedia.org/wiki/Mary_Follett' target='_blank'> Mary Parker Follett </a>
        in her Constructive Conflict publication in 1926.
        Despite the nearly 100 years that have elapsed since then, these approaches are relevant today.
        These strong 5 approaches to conflict each have a time and place,
        but in most cases, the ultimate goal is to achieve a strong consensus.

      h3 Avoidance Approach
      p.
        Stay out of conflict; remain neutral on issues.
        Employed by individuals who do not have enough invested in the issue to see value in the conflict.
        Often used when the conflict is not critical or is perceived to be beyond their capacity to manage.
      p Avoidance is usually detrimental to obtaining a valuable resolution to the conflict.

      .container
        .row
          .col-6
            strong When to use:
            p Minor conflicts where team members have already begun to formulate constructive resolutions.
            p Managers may not add value to all conflicts and may foster greater leadership in team members by allowing these members to resolve conflicts.
          .col-6
            strong How to Respond:
            p Find potential “wins” for these individuals.
            p Provide incentives to engage them in the process of resolution.


      h3 Domination Approach
      p.
        Remain singularly focused on one resolution to a conflict.
        These individuals will not readily yield and often fail to recognize the value of alternatives.

      .container
        .row
          .col-6
            strong When to use:
            p.
              Only when project success depends on the outcome.
            p.
              Domination will not build good relationships and will
              leave sole accountability for the outcome to the Manager.
          .col-6
            strong How to Respond:
            p.
              Remain focused on the real objectives and put conflict into perspective.
              Identify the merits of the dominator&rsquo;s position, and seek to demonstrate
              places where their position complies with conflicting ideas.
            p.
              Let them recognize that they can &ldquo;win&rdquo; without others losing.

      h3 Accommodation Approach
      p.
        Entirely yielding to the conflicting point of view.
        Seeking to preserve personal relationships even when it does benefit project tasks and objectives.

      .container
        .row
          .col-6
            strong When to use:
            p.
              Should only be used infrequently, and on issues of little relevance to the project's success.
            p.
              Can be used as a tool of diplomacy with client sponsors on minor issues,
              but should never be used on any significant issue.
          .col-6
            strong How to Respond:
            p.
              Emphasize the significance of project objectives,
              and demonstrate solutions where personal relationships can benefit from the continued success of the project.



      h3 Compromise Approach
      p.
        Assumes that no solution can be achieved that will yield complete satisfaction
        for all participants.
        Attempts to balance personal relationships and project success when one or both may be compromised in the conflict.

      .container
        .row
          .col-6
            strong When to use:
            p.
              Is appropriate when the effort involved in resolving differences is not worth the time it will take.
              This approach only applies when each participant has a fundamentally valid position and the differences are not significant.
          .col-6
            strong How to Respond:
            p.
              Determine whether a true consensus can be achieved.
              If so, reinforce through merits of their position and constructively guide the conflict
              into a free communicating environment where the consensus can be pursued.

      h3 Consensus Approach
      p.
        Mutual agreement and understanding between all conflicting parties.
        Leads to project success while simultaneously reinforcing personal relationships.
        Is often the lengthiest resolution to a conflict, but produces the most favorable results.

      .container
        .row
          .col-6
            strong When to use:
            p.
              For all major conflicts seek to build consensus.
              It yields the strongest buy-in for all parties involved and typically produces the strongest solution.
              Only when decisions must be made in a very short time frame should Managers avoid consensus.
          .col-6
            strong How to Respond:
            p.
              Encourage consensus, even in relatively minor conflicts.
              The potential synergistic value is worth the additional time it takes to yield a true consensus.

      p.
        Any group's goal should be to reach decisions that best reflect the thoughts of all group members.
        This approach is called &quot; reaching consensus &quot;.
        However, many people use this phrase without an understanding of its true meaning.
        It is easy to be confused about what consensus is and is not, so here are some guidelines:

      dl
        dt Consensus Is
        dd
          ul
            li Finding a proposal acceptable enough that all members can support it; no member opposes it.
        dt Consensus Is Not
        dd
          ul
            li A Unanimous Vote --- a consensus may not represent everyone's priority.
            li.
              A Majority Vote --- In a majority vote, only the people in the majority get something they are happy with;
              People in the minority may get something they don't want at all, which is not what consensus is all about.
            li Everyone Satisfied --- Consensus is not about satisfying everyone, but about finding a solution that everyone can live with.
        dt Consensus Requires
        dd
          ul
            li Time &amp; active participation of all group members
            li Skill in communication: listening, conflict resolution, discussion facilitation
            li Creative thinking and open-mindedness

      h2 Tools for Conflict Management
      p.
        Ultimately, consensus is the best tool for conflict management,
        and for even moderately important conflicts Project Managers should consider
        reaching a consensus as opposed to any other approach.
        So how does one seek to achieve consensus?
        Below is a set of tools and techniques that will aid project managers in achieving a successful consensus.
      dl
        dt Assume the Role of Facilitator
        dd
            p.
                In nearly every situation a facilitator is required to bridge the gaps between participants
                in a conflict and provide open lines of communication.
                Even when the conflict is between the Project Manager and other team members or client personnel,
                the Project Manager can potentially serve as a facilitator, but in some cases,
                it may be more beneficial to call on an outside source to facilitate more serious conflicts.
        dt Identify Common Ground
        dd
            p.
                In most cases, participants in a conflict share common objectives
                but do not recognize that others share many of the same ideas and convictions.
                Conflict may often be over a very isolated detail or subsection of the bigger picture.
                Start by highlighting where viewpoints are shared and build a foundation of assumptions
                 and objectives that are shared between involved parties.
                 This effort will isolate the points of contention and put them into perspective.
        dt Fully Analyze Each Position
        dd
            p.
                Outline the position of each side to the conflict and systematically
                discuss resolutions on each point.
                Consensus can only be achieved when all involved parties are satisfied their thoughts have been understood,
                and can agree on the resolution to individual points.
