@page
@model mwhWebAdmin.Pages.ArticlesModel
@{
    ViewData["Title"] = "Articles";
}
    <h1>Articles</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        @foreach (var article in Model.Articles)
        {
            <tr>
            <td><a href="/ArticleEdit/@article.Slug">@article.Name</a></td>
            <td>@article.Description</td>
            </tr>
        }
    </table>
