@page
@model mwhWebAdmin.Pages.ArticlesModel
@{
    ViewData["Title"] = "Articles";
    var sortedSections = Model.Articles.Select(article => article.Section).Distinct().OrderBy(section => section);
}

<h1>Articles</h1>
<div class="accordion" id="accordionSections">
    @foreach (var item in sortedSections)
    {
        var itemId = item.Replace(" ", "-"); // Replace spaces with hyphens

        <div class="accordion-item">
            <h2 class="accordion-header" id=@($"heading{itemId}")>
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target=@($"#collapse{itemId}") aria-expanded="true" aria-controls=@($"collapse{itemId}")>
                    @item
                </button>
            </h2>
            <div id=@($"collapse{itemId}") class="accordion-collapse collapse" aria-labelledby=@($"heading{itemId}") data-bs-parent="#accordionSections">
                <div class="accordion-body">
                    <ul>
                        @foreach (var article in Model.Articles.Where(article => article.Section == item).OrderBy(article => article.Name))
                        {
                            <li><a href="/ArticleEdit/@article.Id">@article.Name</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
</div>
