extends layouts/modern-layout

block variables
  - var pageTitle = 'Mark Hazleton - 400 Bad Request'
  - var pageDescription = 'Mark Hazleton - 400 Bad Request error page. Your client issued a malformed or illegal request due to invalid syntax or formatting.'
  - var pageKeywords = 'Mark Hazleton, 400 Bad Request, Your client has issued a malformed or illegal request.'
  - var pageCanonical = 'https://markhazleton.com/'

block layout-content
  .container.px-5
    .row.gx-5.justify-content-center
      .col-lg-6
        .text-center.mt-4
          //- Inline SVG for 400 Bad Request
          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 800 600', style='background-color:#f8f9fa;')
            g(font-family='Arial, sans-serif', fill='#343a40')
              text(x='50%', y='25%', 'dominant-baseline'='middle', 'text-anchor'='middle', 'font-size'='120') 400
              text(x='50%', y='40%', 'dominant-baseline'='middle', 'text-anchor'='middle', 'font-size'='40')
                | Bad Request
              text(x='50%', y='55%', 'dominant-baseline'='middle', 'text-anchor'='middle', 'font-size'='20')
                | Oops! It looks like your request was malformed or illegal.
              text(x='50%', y='62%', 'dominant-baseline'='middle', 'text-anchor'='middle', 'font-size'='20')
                | Let's get back on track and try again.
              a(href='/', target='_self')
                rect(x='300', y='450', width='200', height='50', fill='#dc3545', rx='10')
                text(x='50%', y='78%', 'dominant-baseline'='middle', 'text-anchor'='middle', 'font-size'='20', fill='#ffffff')
                  | Return to Homepage
          h1.visually-hidden 400 - Bad Request Error
          p.lead Your client has issued a malformed or illegal request.
          a.text-arrow-icon(href='/')
            i.ms-0.me-1(data-feather='arrow-left')
            | Return Home
