extends layouts/layout

block pagehead
  title Mark Hazleton - 400 Bad Request
  meta(name='description', content='Mark Hazleton - 400 Bad Request. Your client has issued a malformed or illegal request.')
  meta(name='keywords', content='Mark Hazleton, 400 Bad Request, Your client has issued a malformed or illegal request.')
  link(rel='canonical', href='https://markhazleton.com/')

//- Define the main `block content` from the layout
block layout-content
  .container.px-5
    .row.gx-5.justify-content-center
      .col-lg-6
        .text-center.mt-4
          img.img-fluid.p-4(src='assets/img/illustrations/400-error-bad-request.svg', alt='...')
          p.lead Your client has issued a malformed or illegal request.
          a.text-arrow-icon(href='/')
            i.ms-0.me-1(data-feather='arrow-left')
            | Return Home

