extends layouts/layout

block pagehead
  title Mark Hazleton - 404 Not Found
  meta(name='description', content='Mark Hazleton - 404 Not Found. The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.')
  meta(name='keywords', content='Mark Hazleton, 404 Not Found, The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.')
  link(rel='canonical', href='https://markhazleton.controlorigins.com/')

//- Define the main `block content` from the layout
block layout-content
  .container.px-5
    .row.gx-5.justify-content-center
      .col-lg-6
        .text-center.mt-4
          img.img-fluid.p-4(src='assets/img/illustrations/404-error.svg', alt='...')
          p.lead The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.
          a.text-arrow-icon(href='/')
            i.ms-0.me-1(data-feather='arrow-left')
            | Return Home

