extends layouts/modern-layout

block variables
  - var pageTitle = 'Mark Hazleton - 404 Page Not Found'
  - var pageDescription = 'Mark Hazleton - 404 Not Found. The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.'
  - var pageKeywords = 'Mark Hazleton, 404 Not Found, The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.'
  - var pageCanonical = 'https://markhazleton.com/'

block layout-content
  .container.px-5
    .row.gx-5.justify-content-center
      .col-lg-6
        .text-center.mt-4
          //- Inline SVG
          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 800 600', style='background-color:#f8f9fa;')
            g(font-family='Arial, sans-serif', fill='#343a40')
              text(x='50%', y='25%', 'dominant-baseline'='middle', 'text-anchor'='middle', 'font-size'='120') 404
              text(x='50%', y='40%', 'dominant-baseline'='middle', 'text-anchor'='middle', 'font-size'='40')
                | The adventure continues!
              text(x='50%', y='55%', 'dominant-baseline'='middle', 'text-anchor'='middle', 'font-size'='20')
                | We couldn’t find the page you’re seeking, but exploration is part of learning.
              text(x='50%', y='62%', 'dominant-baseline'='middle', 'text-anchor'='middle', 'font-size'='20')
                | Let's head back and discover something new!
              a(href='/', target='_self')
                rect(x='300', y='450', width='200', height='50', fill='#28a745', rx='10')
                text(x='50%', y='78%', 'dominant-baseline'='middle', 'text-anchor'='middle', 'font-size'='20', fill='#ffffff')
                  | Back to Homepage
          h1.visually-hidden 404 - Page Not Found
          p.lead The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.
          a.text-arrow-icon(href='/')
            i.ms-0.me-1(data-feather='arrow-left')
            | Return Home
