extends layouts/articles

block pagehead
  title Mark Hazleton - Crafting ChatGPT Prompts
  meta(name='description', content='Mark Hazleton - Crafting ChatGPT Prompts')
  meta(name='author', content='Mark Hazleton')
  link(rel='canonical', href='https://markhazleton.controlorigins.com/crafting-chatgpt-prompt.html')

block layout-content

  section#post.painteddesert-section.painteddesert-section-background
    .painteddesert-section-content
      h1.mb-0 ChatGPT Prompts
      .subheading.mb-3 The Three Bears of Prompts
      p.lead.
        ChatGPT is a remarkable tool with impressive capabilities.
        Since its launch in 2022, ChatGPT has become a prominent player in the AI landscape,
        attracting over 100 million users in record time. The key to its remarkable performance
        lies in a crucial element of its programming prompt engineering.
      p.
        I continue to explore ChatGPT and wanted to share an aspect that
        can unlock the potential of ChatGPT -
        crafting specific prompts with the appropriate context.
      p.
        ChatGPT's success is built on its ability to understand and mimic human conversation nuances.
        It's trained on diverse internet text, which enables it to generate creative responses,
        navigate complex dialogues, and even exhibit a sense of humor.
        However, it's important to note that ChatGPT doesn't truly understand or have beliefs;
        it generates responses based on patterns learned during training.
      p.
        ChatGPT generates output based on statistical patterns learned from vast amounts of data,
        without having an inherent understanding of what is true or false.
        ChatGPT operates by analyzing the prompt, which is essentially a sequence of tokens
        representing the input text. You can see this in action by using the Tokenizer on the OpenAI website.

      .image-container.center.text-center
        h2.text-center ChatGPT Tokenizer
        picture
          img.img-fluid.border.border-4.rounded.mx-auto.d-block(src='assets/img/ChatGPT-Prompt-Tokenizer.png' alt='ChatGPT Tokenizer')
      p.
        ChatGPT uses the list of token IDs to predict the most likely sequence of tokens that
        should follow, drawing upon the patterns it learned during training. It cannot reason or
        comprehend the deeper meaning behind the information it generates.
      p.
        ChatGPT excels in predicting probable continuations based on patterns in the training data, leading to coherent
        and contextually appropriate responses. However, this also means that its responses are limited to what it has seen
        in its training data and might not reflect nuanced or original insights.
      p.
        Understanding how it works is crucial to using ChatGPT effectively.
        It can be a valuable tool for generating code, unit tests, boilerplate methods, and various language-related tasks.
        As with any tool, it is up to the user to cross-check its outputs for accuracy and validity,
        particularly when it comes to critical or factual information.

      .image-container.center.text-center
        h2.text-center Three Bears of Prompts
        picture
          img.img-fluid.border.border-4.rounded.mx-auto.d-block(src='assets/img/ThreeBearsOfChatGPT.jpg' alt='Three Bears of Prompts')

      p.
        Once upon a time, there lived a curious little girl named Goldilocks who stumbles upon the bears' cottage.
        Finding the door ajar, she enters the house and discovers three bowls of porridge on the dining table.
        She tries each one but finds Papa Bear's porridge too hot, Mama Bear's porridge too cold,
        and Baby Bear's porridge just right.
        Hungry from her adventure, Goldilocks devours all the porridge from Baby Bear's bowl.
      p.
        Just like Goldilocks seeking the perfect porridge, finding the right amount of context in your ChatGPT
        prompt is essential for the best results.
      dl
        dt Papa Bear
        dd
          p.
            Pappa Bear teaches us the perils of too little context – brief and ambiguous prompts often left the AI confused,
            resulting in irrelevant or nonsensical responses.
          blockquote.
            Temperature?
        dt Mama Bear
        dd
          p.
            Mama Bear shows us the consequences of overwhelming the AI with too much context – the poor ChatGPT struggled to sift
            through the information, leading to verbose and off-topic answers.
          blockquote.
            In the cozy little cottage on the hill, where the fireplace crackles and the night is chilly,
            what is the optimal temperature for the porridge to warm our souls and tummies?
        dt Baby Bear
        dd
          p.
            Baby Bear reveals the secret to prompt-writing success. By providing just the right amount
            of context – clear, concise, and relevant – ChatGPT could produce responses that were
            accurate, insightful, and engaging. Much like Baby Bear's perfectly sized chair, these prompts fit ChatGPT just right,
            enabling it to understand the user's intent and deliver the desired outcome.
          blockquote.
            What is the optimal temperature for baby bears to eat porridge?
        p.
          So take a lesson from the Three Bears. Avoid being too vague or overwhelming with your prompts.
          Instead, strike the Goldilocks balance – not too little, not too much, but just the right amount of context
          to get the point across and achieve the best results for you.
          Embrace the magic of perfectly crafted prompts, and watch as ChatGPT responds with charm and intelligence,
          making your AI-powered conversations truly enchanting.

      h2.mb-3 Improving Your Prompt Writing Skills
      dl
        dt Use Clear Language
        dd.
          Be explicit about your requirements and expectations in the prompt.
          This helps ChatGPT understand your intent accurately.
        dt Be Concise
        dd.
          You do not have to write a full set of requirements.
          Avoid overly complex or lengthy prompts.
          Clear and concise instructions result in more relevant responses.
        dt Iterate and Experiment
        dd.
          Not every prompt gives you what you need the first time.
          Don't hesitate to iterate and experiment with different prompts to fine-tune ChatGPT's outputs for your specific use case.

        dt Be Specific to C#
        dd.
          Ensure that your prompt explicitly mentions that you're looking for answers related to C# development.
          For example: "Provide examples of exception handling in C#."
        dt Include Code Samples
        dd.
          When seeking code-related information, include code snippets in the prompt to make it clear
          that you want code-based responses.
          For instance: "Write a C# function to reverse a string using recursion."
        dt Clarify the Objective
        dd.
          Clearly state what you want to achieve with the response.
          For instance: "Explain the differences between abstract classes and interfaces in C# and when to use each."
        dt Ask for Best Practices
        dd.
          Request advice or best practices on specific C# topics.
          For example: "What are the best practices for optimizing performance in C# applications?"
        dt Problem-Solving Scenarios
        dd.
          Pose real-world development scenarios and ask for solutions.
          For example: "You have a list of objects in C#. How would you filter out elements based on a specific condition?"
        dt Compare and Contrast
        dd.
          Request comparisons between different C# features or concepts.
          For instance: "Compare the use of ArrayList and List in C# collections."
        dt Debugging Challenges
        dd.
          Create prompts that ask for debugging help with specific C# code issues.
          For example: "Identify and fix the error in this C# LINQ query."
        dt Explore Advanced Features
        dd.
          Encourage exploration of more advanced C# topics.
          For instance: "Demonstrate how to implement a custom attribute in C#."
        dt Discuss Design Patterns
        dd.
          Request explanations or implementations of design patterns in C#.
          For instance: "Provide an example of the Singleton design pattern in C#."

      p.
        I believe that mastering the art of crafting prompts is pivotal in harnessing the true potential of ChatGPT.
        By providing clear instructions and relevant context, we can leverage the tool to make us better developers.

      h2 Prompt Engineering
      p.
        Prompt Engineering is the art of crafting precise, effective prompts to guide AI models
        like ChatGPT toward generating cost-effective, accurate, useful, and safe outputs.
        It's not confined to text generation but has wide-ranging applications across the AI domain.
        Prompt engineering is essential for creating better AI-powered services and obtaining superior
        results from existing generative AI tools.
      p.
        Prompt engineers play a vital role in optimizing AI models' efficiency and cost-effectiveness.
        They can access AI models like GPT-4 through OpenAI's API or ChatGPT,
        both of which have different cost structures.
        Parameter tuning is also essential, allowing prompt engineers to improve the quality and accuracy of responses.
      p.
        Prompt design involves creating the perfect prompt for a language model to achieve a stated goal.
        It considers the model's nuances, domain knowledge, and quality measurement.
        Prompt engineering extends this to include designing prompts at scale, tool integration,
        workflow planning, prompt management, evaluation, and optimization.

      dl
        dt Prompt Placement and Description:
        dd Placing instructions at the outset and being specific about context improves responses.
        dt Persona Pattern:
        dd AI can function from specific perspectives or roles, enhancing responses.
        dt Introducing New Information:
        dd You can introduce new information via prompts to the model.
        dt Prompt Size Limitations:
        dd Understanding token limitations is crucial for concise prompts.
        dt Prompts for Repeated Use:
        dd Reusing or refining prompts maintains context in conversations.
        dt Question Refinement Pattern:
        dd AI can help refine questions for more accurate results.
        dt Cognitive Verifier Pattern:
        dd Complex questions can be broken down into manageable sub-questions for more comprehensive answers.
        dt Few-Shot Prompting Approach:
        dd Teaching AI models through examples before asking questions is a powerful technique.
        dt Chain-of-Thought Prompting:
        dd Interconnected prompts guide AI models to reasoning and nuanced responses.

      p Developers use prompt engineering to enhance AI models' understanding and response to prompts. The ChatGPT API offers various hyperparameters for refining responses, including Temperature, Maximum Length, Stop Sequences, Top P, Frequency Penalty, and Presence Penalty.

      dl
        dt Customer Support and FAQ Generation:
        dd AI-powered chatbots use prompt engineering to provide personalized and relevant responses to customer inquiries.
        dt Content Creation and Marketing:
        dd Prompt engineering enhances content creation by guiding AI models to generate high-quality content.
        dt Coding Assistance and Code Interpretation:
        dd Developers use prompts to get AI-generated code or suggestions, aiding software development.
        dt Education and Personalized Learning:
        dd AI tutors employ prompt engineering to offer personalized learning experiences to students.
      p.
        As we approach the conclusion of our deep dive into prompt engineering,
        it's crucial to underscore how truly nascent this field is.
        We are at the very precipice of an era where artificial intelligence
        goes beyond responding to pre-programmed commands, evolving to process
        and execute carefully engineered prompts that yield highly specific results.
      p.
        Prompt engineering is the key to unlocking the full potential of AI models like ChatGPT.
        Its ability to guide these models effectively makes it a vital skill in the AI landscape,
        with applications ranging from customer support to content creation, coding, education, and beyond.

      h2 ChatGPT Custom Instructions
      p ChatGPT, powered by OpenAI's advanced language model, is a remarkable tool for generating human-like text responses. It can assist with a wide range of tasks, from answering questions to generating code snippets. However, as with any AI, the quality of its responses can vary, and sometimes, you may want more control over what it provides. That's where Custom Instructions come into play.
      p Custom Instructions are personalized guidelines you can set for ChatGPT to influence its responses. They serve as directives to help the AI understand your preferences and provide responses that align with your requirements.
      p These instructions can be especially useful when you have specific expectations for the content, style, or format of ChatGPT's responses. By utilizing Custom Instructions, you can ensure that the AI generates responses that are more in line with your desired outcomes.
      dl
        dt How to Add Custom Instructions to Your Account
        dd
          p Adding Custom Instructions to your ChatGPT account is a straightforward process. Follow these steps to get started:
          dl
            dt Log In:
            dd Begin by logging into your ChatGPT account. If you don't have an account, you'll need to create one.
            dt Access Custom Instructions:
            dd Once you're logged in, navigate to the ChatGPT interface. In the bottom-left corner, you'll find a menu with your name or profile picture. Click on it to access the options.
            dt Select Custom Instructions:
            dd
              p Among the available options, you'll find "Custom Instructions." Click on it to open the Custom Instructions modal pane.
              .image-container.center.text-center
                strong.text-center Select Custom Instructions
                picture
                  img.img-fluid.border.border-4.rounded.mx-auto.d-block(src='assets/img/ChatGPT-Custom-Instructions.png' alt='ChatGPT Custom Instructions')
            dt Add Your Instructions:
            dd
              p In the Custom Instructions pane, you can input your personalized guidelines for ChatGPT. These instructions can range from content-specific requests to formatting preferences. The more detailed and clear your instructions, the better ChatGPT can tailor its responses to your liking.
              .image-container.center.text-center
                strong.text-center Edit Custom Instructions
                picture
                  img.img-fluid.border.border-4.rounded.mx-auto.d-block(src='assets/img/ChatGPT-Custom-Instructions-Edit.png' alt='ChatGPT Custom Instructions Edit')

            dt Save Your Instructions:
            dd After adding your Custom Instructions, be sure to save them. This ensures that ChatGPT will consider your guidelines when generating responses.
        dt Suggestions for Custom Instructions
        dd Now that you know how to add Custom Instructions, let's explore some suggestions for what you can include in your directives to enhance your interactions with ChatGPT:
        dt Content Guidelines
        dd
          ol
            li Code Accuracy: If you're seeking code-related responses, instruct ChatGPT to provide code that is accurate and functional.
            li Framework and Language: Specify the programming language or framework you want the code to be based on.
            li Avoid Deprecated Methods: Request that ChatGPT avoids suggesting outdated or deprecated methods.
            li Alternative Solutions: Encourage ChatGPT to propose alternative solutions to the problem at hand.
            li References: Ask for relevant sources or documentation links to support the provided information.
        dt Style and Format Preferences
        dd
          ol
            li Markdown Formatting: Request that ChatGPT formats responses in Markdown, which is especially useful for technical documentation.
            li Quote Inclusion: Suggest adding a relevant quote from pop culture, literature, or a specific field to make the conversation more engaging.
        dt Communication Style
        dd
          dl
            dt Clarity and Simplicity:
            dd Instruct ChatGPT to explain complex topics clearly and understandably.
            dt Eloquent Language:
            dd Encourage the use of eloquent language and storytelling techniques for enhanced communication.
            dt User Experience Focus:
            dd Prioritize user experience and intuitive design in all interactions.

        dt My Current Custom Instructions
        dd
          pre.code.
            Prefer casual conversation and content
            If asked to produce articles, longer is better as it is easier to edit down than add content
            Always produce requested content in markdown format in a code block
            Always escape code blocks within your output so they do not interfere with the markdown code block
            Always provide 3-5 references to relevant sources as a markdown-formatted list of links
            No need to mention your knowledge cutoff date
            No need to disclose that you are an AI/LLM
            If your content policy is an issue, provide the closest acceptable response and explain the content policy issue
            Suggest potential solutions I didn't mention or ask for. Be proactive and anticipate alternative solutions to problems.
            Never provide reference links that you're making up. Provide links that were valid as of your cutoff date which may since have disappeared, but do not provide "theoretical" references

      p Custom Instructions empower you to take control of your conversations with ChatGPT, ensuring that you receive responses tailored to your needs and preferences. By following the simple steps to add and save your instructions, you can unlock the full potential of this AI tool.
      p Experiment with different instructions to find the perfect balance that enhances your interactions with ChatGPT. Whether you're looking for code solutions, explanations, or engaging conversations, Custom Instructions can be your key to a more personalized and productive experience.
      p Custom Instructions are a powerful feature that can significantly improve your interactions with ChatGPT. The suggestions provided in this article are for reference, and you can adapt them to your specific requirements.

      ul
        li
          a(href="https://www.openai.com/chatgpt") OpenAI's ChatGPT - Official website for ChatGPT
        li
          a(href="https://www.markdownguide.org") Markdown Guide - A comprehensive guide to Markdown formatting
        li
          a(href="https://www.example.com/documentation") Programming Documentation - An example of programming documentation for reference
        li
          a(href="https://www.uxdesign.cc/principles-of-user-experience-design-51ed4bee6551") User Experience Principles - Principles of user experience design
        li
          a(href='https://twitter.com/ardalis') Steve Smith's Twitter Thread - Source of Custom Instructions
        li
          a(href='https://kotlinlang.org/docs/reference') Kotlin Documentation - Kotlin documentation for reference
        li
          a(href='https://www.turing.org.uk') Turing's Work - Information about Alan Turing
        li
          a(href='https://www.cs.utexas.edu/~EWD') Dijkstra's Work - Edsger W. Dijkstra's contributions to computer science

