extends layouts/layout

block pagehead
  title Mark Hazleton - not sidetracked by Sizzle
  meta(name='description', content='Mark Hazleton - Solutions Architect, lifelong learner, not sidetracked by sizzle')
  meta(name='author', content='Mark Hazleton')
  link(rel='canonical', href='https://markhazleton.controlorigins.com/index.html')

block layout-content

  include modules/about.pug

  hr.m-0
  section#projects.resume-section
    .resume-section-content
      h2.mb-1 Projects
      p.
        I have experience in developing websites for a variety of businesses and organizations.
        From building back-end web applications to creating user-friendly front-end interfaces,
        I have used my skills to create custom websites tailored to the needs of the client.
        Below are some of my featured projects.

      .card.mb-4
        .card-header
          h2.card-title DevExpress YouTube Video
          .small.text-muted May 29, 2012
          .card-text.
            While at a conference, I ran into the team from DevExpress
            and was talking about the lack of content on DevExpress and SharePoint integration.
            I ended up making this video with them.
            The project in the video never made it out of beta,
            but I did get to use lots of DevExpress controls in SharePoint.
        .card-body
          iframe(width='100%', height='315', src='https://www.youtube.com/embed/Y530WAkFJGY', frameborder='0', allowfullscreen)
        .card-footer
            p

      include modules/projects.pug

  section#experience.resume-section
    .resume-section-content
      h2.mb-5 Experience

      .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
        .flex-grow-1
          h3.mb-0 Senior Software Developer
          .subheading.mb-3
            a(href="https://www.linkedin.com/company/bswhealth/" rel="noopener noreferrer" target="_blank") Baylor Scott &amp; White
          ul
            li Successfully migrated a legacy API from ASP.NET to ASP.NET Core, resulting in improved scalability and maintainability.
            li Worked with cross-functional teams to gather requirements and implement custom logging solutions for specific business use cases, resulting in improved alignment with business objectives and increased customer satisfaction.
            li Developed and maintained internal wikis to promote consistency of API delivery and improve onboarding of new team members, resulting in improved collaboration, knowledge sharing, and faster ramp-up time for new hires.
            li Conducted code reviews and mentored junior developers, resulting in improved code quality, faster onboarding, and increased team productivity.
            li Conducted training sessions for developers and stakeholders on the importance of logging and reporting for API development and management, resulting in improved awareness and adoption of best practices across the organization.
            li Collaborated with cross-functional teams to gather requirements, design APIs, and implement new features, resulting in improved alignment with business goals and increased customer satisfaction.

        .flex-shrink-0
          span.text-primary August 2020 - Current


      .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
        .flex-grow-1
          h3.mb-0  Solutions Architect / Consultant
          .subheading.mb-3
            a(href="https://www.linkedin.com/company/control-origins" rel="noopener noreferrer" target="blank") d.b.a. Control Origins
          p.
            Control Origins is a technology solutions provider that is passionate about delivering high-quality,
            value-added services to our clients. We work with businesses across industries to help them achieve
            their goals by leveraging world-class technology and best-practice frameworks.
          p.
            Control Origins specializes in implementing business processes that closely
            align with regulatory requirements, industry standards, and business strategies.
          p.
            At Control Origins, we believe that technology should be an enabler, not a barrier, to success.
            We are committed to providing our clients with innovative solutions that drive growth, improve efficiency,
            and reduce costs.
            Our focus on quality, reliability, and customer satisfaction has earned us a reputation as a trusted partner
            in the technology industry.

          ul
            li
              a(href='https://controlorigins.com' rel="noopener noreferrer" target="_blank") Control Origins Website

        .flex-shrink-0
          span.text-primary April 2006 - Current

      .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
        .flex-grow-1
          h3.mb-0 Digital Solutions Architect
          .subheading.mb-3
            a(href="https://www.linkedin.com/company/cec-entertainment" rel="noopener noreferrer" target="_blank") CEC Entertainment
          ul
            li Responsible for the delivery of comprehensive and cost-effective digital solutions.
            li Designing, developing, implementing, and releasing high-quality custom software solutions using Scrum.
            li Applying the very best technical agile patterns and practices when building custom software solutions.
            li Collaborating frequently with business leaders to provide technical consultation and assistance, and working with these leaders to deliver software solutions that maximize the value added to the business.
        .flex-shrink-0
          span.text-primary November 2015 - June 2020

      .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
        .flex-grow-1
          h3.mb-0 Solutions Architect / Consultant
          .subheading.mb-3
            a(href="https://www.linkedin.com/company/project-mechanics" rel="noopener noreferrer" target="_blank") d.b.a Project Mechanics
          p Successful project management is part "art" and part "mechanics". Project Mechanics are objective and relatively easy to describe, whereas the art of project management is left to each individual's interpretation. However, Project Mechanics are tasks that simply must be carried out to ensure project success. The level of detail associated with each task is determined on a project-by-project basis, but the fundamental steps must be followed. It is important to note, however, that simply mechanically performing tasks will not ensure project success. The tasks and procedure framework described are only a foundation for project success - not a guarantee.
          h3 Websites
          ul
            li
              a(href='https://markhazleton.controlorigins.com/projectmechanics' rel="noopener noreferrer" target="_blank") Project Mechanics Site
            li
              a(href='https://frogsfolly.com' rel="noopener noreferrer" target="_blank") Frogsfolly Main Site
            li
              a(href='https://travel.frogsfolly.com' rel="noopener noreferrer" target="_blank") Frogsfolly Travel Site
            li
              a(href='https://family.frogsfolly.com' rel="noopener noreferrer" target="_blank") Frogsfolly Family Site
            li
              a(href='https://jmshawminerals.com' rel="noopener noreferrer" target="_blank") JM Shaw Minerals Site
            li
              a(href="https://web.archive.org/web/20110903141650/http://projectpalette.org/" rel="noopener noreferrer" target="_blank") Project Palette
                span (2002-2012)
        .flex-shrink-0
          span.text-primary January 2002 - November 2015


      .d-flex.flex-column.flex-md-row.justify-content-between
        .flex-grow-1
          h3.mb-0 VP of Delivery Management
          .subheading.mb-3
            a(href="https://www.linkedin.com/company/advicelocal" rel="noopener noreferrer" target="_blank") Advice Interactive Group
          p Advice Interactive is a digital agency focusing on improving visibility across the digital universe through search social design and development. Advice is recognized as one of the fastest growing interactive agencies in the US by the Inc. 500
        .flex-shrink-0
          span.text-primary December 2013 - July 2014

      .d-flex.flex-column.flex-md-row.justify-content-between
        .flex-grow-1
          h3.mb-0 Director - SharePoint Services
          .subheading.mb-3
            a(href="https://www.linkedin.com/company/gimmal" rel="noopener noreferrer" target="_blank") Gimmal Group
          ul
            li Responsible for initiating, planning, executing, controlling and closing information technology (IT) projects that address the operational needs of multiple departments in order to deliver specified requirements, meet customer satisfaction, on time, within budget, and with quality results.
            li The position ensures appropriate management, customer, and supplier involvement throughout the life of the engagement.
        .flex-shrink-0
          span.text-primary May 2010 - November 2013

      .d-flex.flex-column.flex-md-row.justify-content-between
        .flex-grow-1
          h3.mb-0 Manager - SharePoint Services
          .subheading.mb-3
            a(href="https://www.linkedin.com/company/smbology-inc" rel="noopener noreferrer" target="_blank") Symbology, Inc.
          ul
            li Develop proof of concepts and pilot demonstrations of the value of Microsoft SharePoint Solutions.
            LI Evaluate client needs and propose and deliver SharePoint-based solutions.
        .flex-shrink-0
          span.text-primary October 2009 - April 2010

      .d-flex.flex-column.flex-md-row.justify-content-between
        .flex-grow-1
          h3.mb-0 Project Director
          .subheading.mb-3
            a(href="https://www.linkedin.com/company/rem2-inc" rel="noopener noreferrer" target="_blank") Rem 2, Inc.
          ul
            li Responsible for the overall direction, coordination, implementation, execution, control and completion of specific projects ensuring consistency with client strategy, commitments and goals.
        .flex-shrink-0
          span.text-primary December 2008 - June 2009

      .d-flex.flex-column.flex-md-row.justify-content-between
        .flex-grow-1
          h3.mb-0 Project Manager
          .subheading.mb-3
            a(href="https://www.linkedin.com/company/agency.com" rel="noopener noreferrer" target="_blank") Agency.com
          ul
            li Responsible for the overall direction, coordination, implementation, execution, control and completion of projects ensuring consistency with business objectives, commitments and goals.
        .flex-shrink-0
          span.text-primary February 2006 - July 2006

  include modules/skills.pug

  include modules/education.pug

  include modules/interests.pug


