extends layouts/layout

block pagehead
  title Mark Hazleton - Solutions Architect
  meta(name='description', content='Mark Hazleton, a Solutions Architect, specializes in bridging technology with business goals through custom web solutions.')
  meta(name='keywords', content='Mark Hazleton, Solutions Architect, Web Development, ASP.Net, Project Management, Technology Solutions')
  link(rel='canonical', href='https://markhazleton.com/')
  meta(property='og:title', content='Mark Hazleton - Solutions Architect')
  meta(property='og:type', content='website')
  meta(property='og:url', content='https://markhazleton.com/')
  meta(property='og:image', content='https://markhazleton.com/assets/img/MarkHazleton.jpg')
  meta(property='og:description', content='Solutions Architect, lifelong learner, not sidetracked by sizzle. Showcasing a journey of bridging technology with business goals through articles, projects, and professional experiences.')

block layout-content

  include modules/about.pug

  hr.m-0
  article#projects.resume-section
    .resume-section-content
      h2.mb-1 Projects
      p.
        I have worked for a variety of businesses and organizations.
        From building back-end web applications to creating user-friendly front-end interfaces,
        I have used my skills to create custom websites tailored to the needs of the client.
        Below are some of my featured projects.

      .card.mb-4
        .card-header
          h2.card-title DevExpress YouTube Video
          .small.text-muted May 29, 2012
          .card-text.
            While at a conference, I ran into the team from DevExpress
            and was talking about the lack of content on DevExpress and SharePoint integration.
            I ended up making this video with them.
            The project in the video never made it out of beta,
            but I did get to use lots of DevExpress controls in SharePoint.
        .card-body
          iframe(title='Mark Hazleton with DevExpress',width='100%', height='315', src='https://www.youtube.com/embed/Y530WAkFJGY', frameborder='0', allowfullscreen)
        .card-footer
          p
  
  include modules/projects.pug

  include modules/experience.pug

  include modules/skills.pug

  include modules/education.pug

  include modules/interests.pug

