extends layouts/layout

block pagehead
  title Mark Hazleton - Sidetracked By Sizzle Explained
  meta(name='description', content='Mark Hazleton - Sidetracked by sizzle explained')
  meta(name='author', content='Mark Hazleton')
  link(rel='canonical', href='https://markhazleton.controlorigins.com/sidetrackedbysizzle.html')

block layout-content

  // Sidetracked By Sizzle
  section#sidetracked.resume-section.resume-section-background
    .resume-section-content
      h1.mb-0 Sidetracked by sizzle
      .subheading.mb-3 What does sidetracked by sizzle mean?
      p.lead.
        For many years, I have included the phrase "Not sidetracked by sizzle" in my personal profile.
        "Sidetracked by sizzle" refers to the tendency to be attracted to flashy technologies that may
        not ultimately contribute to the success of a project or solution.
      p.
        Getting "sidetracked by sizzle" happens when people are more focused on the "sizzle" or
        the perceived value, rather than the actual impact on the business.
        As a result, they may spend time on these features, only to find that they
        do not contribute to the overall success of the project. By avoiding this
        tendency and focusing the benefit to the business, it is possible to deliver more effective
        and successful solutions.

      h2.mb-0 How can I tell if I have been sidetracked?
      ul
        li.
          When I am more focused on the perceived value of a feature,
          rather than its actual impact on the business.
        li.
          When I find that I have invested a significant amount of time and resources into a feature,
          even if it is not clear how it will benefit the business.
        li.
          When I am more focused on impressing stakeholders with flashy features,
          rather than addressing their real needs.
        li.
          When I find that I am spending more time on features not directly
          related to the business goals or objectives.
        li.
          When I do not consider the potential risks or downsides of a feature,
          and not taking a risk management approach to decision-making.
      p.
        When I find any of things happening, I step back and reevaluate the priorities and focus
        on solutions that will truly benefit the business and contribute to its success.

      h2.mb-0 How do I avoid being Sidetracked by Sizzle?
      p.
        There are a few strategies to keep in mind when evaluating a solution to avoid
        being sidetracked by sizzle that does not deliver:
      dl.mb-2
        dt  Keep the business goals in mind:
        dd  It's important to keep the big picture in mind and remember the ultimate goals of the business. This can help you stay focused on what's most important and avoid getting distracted by flashy features or technologies that may not contribute to the business's success.
        dt  Gather subject matter knowledge:
        dd  By gaining a deep understanding of the business and the specific needs and challenges it faces, you can better evaluate whether a particular solution or technology will truly be beneficial.
        dt  Seek out customer feedback:
        dd  Asking customers or clients for their input can help you identify what they value most in a solution and what they consider to be less important or unnecessary. This can help you avoid spending time and resources on features that may not be as valuable to the business.
        dt  Use a risk management approach:
        dd  By identifying and evaluating potential risks, you can prioritize the most important features and technologies and avoid spending too much time and resources on less important or unnecessary ones.
      p.
        By following these strategies, I am able to stay focused on delivering solutions that truly benefit the business and avoid being sidetracked by sizzle that may not deliver the desired results.

      h2.mb-0 Focused On Delivery Success
      p.
        For a project manager, their primary objective should be to deliver business success to their clients.
        However, it is very common for project managers to get sidetracked in the process and lose focus on that goal.
        Sidetracked project managers can be pulled toward flashy features or sizzle that do not lead to any
        quantifiable business value.

      h2.
        Steps to Avoid Getting Sidetracked
      dl
        dt  Step One:
        dd  Know your clients’ overarching goals. By having a thorough understanding of your clients’ goals, you can avoid being sidetracked by flashy features that are not ideally aligned to their goals.
        dt  Step Two:
        dd  Make sure you understand the measurable business value of any features that you develop. For example, what return on investment may the feature deliver? Will it increase revenue or help reduce costs?
        dt  Step Three:
        dd  Prioritize features based on business value and ensure they are reviewed regularly. By taking the time to review the progress of each feature, you will be able to keep your focus on the biggest value drivers and avoid getting sidetracked by unnecessary sizzle.
      h2.
        Focusing On Measurable Business Value
      p.
        By focusing on measurable business value, project managers can ensure that each feature is delivering results
        that are aligned with the clients’ overarching objectives. This will help them stay focused on delivery
        business success and minimize the amount of attention given to sizzle that do not deliver any value.
        It will also help create a project manager/client relationship built on trust and transparency as well as
        ensure that time and resources are being used efficiently.
      p.
        Therefore, project managers need to have a clear set of goals, understand the measurable business value of any
        features they develop, and prioritize features based on this value. This will help them keep their focus on
        delivery business success and avoid getting sidetracked by flashy features and sizzle.
  hr.m-0
  hr.m-0
