extends layouts/articles

block pagehead
  title Sidetracked By Sizzle | Mark Hazleton
  meta(name='description', content='Explore the concept of getting Sidetracked By Sizzle with Mark Hazleton. Understand how to stay focused and avoid the allure of superficial attractions.')
  meta(name='keywords', content='Sidetracked By Sizzle, Mark Hazleton, Focus, Superficial Attractions, Distractions')
  meta(name='author', content='Mark Hazleton')
  link(rel='canonical', href='https://markhazleton.com/sidetrackedbysizzle.html')

block layout-content

  article#sidetracked.painteddesert-section.painteddesert-section-background
    .painteddesert-section-content
      h1 Sidetracked by Sizzle
      h2.subheading.mb-3 What does sidetracked by sizzle mean?
      p.lead.
        The phrase "Sidetracked by Sizzle" encapsulates those moments when the allure of tech novelties momentarily
        veers us off the path of practicality. It's about being lured by a glossy facade, often at the
        expense of substance. I often add "Not Sidetracked by Sizzle" in my online profiles,
        as a lighthearted testament to my commitment to staying the course,
        valuing the essence over the enticement.
        Much like resisting the urge to buy every new gadget that hits the
        market (looking at you, smart toaster with a built-in weather forecast),
        it's about keeping a keen eye on what truly matters.
        By maintaining a focus on the tangible benefits to the business, it becomes possible
        to deliver more effective and successful solutions.

      h2 Recognizing When You've Been Sidetracked by Sizzle
      p.
        There are several signs that can indicate when you've been sidetracked by sizzle:

      ul.mb-4
        li
          i.bi.bi-exclamation-triangle
          span  When you find yourself more focused on the perceived value of a feature,
            rather than its actual impact on the business, it's a red flag.
            For instance, being enamored by a feature's cutting-edge technology,
            without a clear understanding of how it solves a business problem.
        li
          i.bi.bi-clock-history
          span  When you realize that a significant amount of time and resources have been invested into a feature,
            yet its benefits to the business remain unclear.
        li
          i.bi.bi-eye
          span  When you are aiming to impress stakeholders with flashy features,
            rather than addressing their real needs, it's time to pause.
            This might look like showcasing a high-tech dashboard while core functionality issues remain unresolved.
        li
          i.bi.bi-arrow-right-circle
          span  When you discover that your attention is gravitating toward features
            not directly aligned with the business goals or objectives.
        li
          i.bi.bi-shield-exclamation
          span  When you overlook the potential risks or downsides of a feature,
            and stray from a risk management approach in decision-making.

      p.
        When any of these scenarios occur, it's a cue to step back,
        reevaluate the priorities, and refocus on solutions
        that will truly benefit the business and contribute to its success.

      h2 How to Avoid Being Sidetracked by Sizzle
      p.
        There are a few strategies to keep in mind when evaluating a solution to avoid
        being sidetracked by sizzle that does not deliver:

      .card.mb-4
        .card-body
          h3.card-title Keep the business goals in mind
          p.card-text.
            It's important to keep the big picture in mind and remember the ultimate goals of the business.
            This can help you stay focused on what's most important and avoid getting distracted
            by flashy features or technologies that may not contribute to the business's success.

      .card.mb-4
        .card-body
          h3.card-title Gather subject matter knowledge
          p.card-text.
            By gaining a deep understanding of the business and the specific needs and challenges it faces,
            you can better evaluate whether a particular solution or technology will truly be beneficial.

      .card.mb-4
        .card-body
          h3.card-title Seek out customer feedback
          p.card-text.
            Asking customers or clients for their input can help you identify what they
            value most in a solution and what they consider to be less important or unnecessary.
            This can help you avoid spending time and resources on features that may not be as
            valuable to the business.

      .card.mb-4
        .card-body
          h3.card-title Use a risk management approach
          p.card-text.
            By identifying and evaluating potential risks,
            you can prioritize the most important features and technologies
            and avoid spending too much time and resources on less important or unnecessary ones.

      p.
        By following these strategies, I can stay focused on delivering solutions that truly benefit the business
        and avoid being sidetracked by sizzle that may not deliver the desired results.

      h2 Focused On Business Success

      blockquote.blockquote.
        A tech leader's primary objective should be to deliver business success.
        However, it is very common to get sidetracked in the process and lose focus on that goal.

      p.
        Sidetracked leaders can be pulled toward flashy features that do not lead to any
        quantifiable business value.

      p.
        By focusing on measurable business value, leaders can ensure that each feature is delivering results
        that are aligned with the client's overarching objectives. This will help them stay focused on
        business success and minimize the amount of attention given to sizzle that does not deliver value.
        It will also help create a project manager/client relationship built on trust and transparency as well as
        ensure that time and resources are being used efficiently.

      p.
        Therefore, project managers need to have a clear set of goals, understand the measurable business value of any
        features they develop, and prioritize features based on this value. This will help them keep their focus on
        delivery business success and avoid getting sidetracked by flashy features and sizzle.
