extends layouts/articles

block pagehead
  title Mark Hazleton - History of Web Project Mechanics
  meta(name='description', content='Mark Hazleton - The History of Web Project Mechanics')
  meta(name='author', content='Mark Hazleton')
  link(rel='canonical', href='https://markhazleton.com/web-project-mechanics.html')

block layout-content

  section#post.painteddesert-section.painteddesert-section-background
    .painteddesert-section-content
      h1.mb-0 Web Project Mechanics
      .subheading.mb-3 Looking back on the history of my first Web Content Management System
      p.lead.
        Web Project Mechanics is a web content management system that I have developed and maintained
        for over 20 years. What started as an internally motivated effort to learn new technologies
        and create websites has become a successful and powerful tool for website management.
        Throughout the years, Web Project Mechanics has helped me and my friends with their projects,
        including Project Palette, Reflection Fine Art Gallery, and City Information Centers.
      ul
        li
          a(href='https://github.com/markhazleton/WebProjectMechanics') Web Project Mechanics GitHub Repository
      p.
        This web content management
        system has been my passion project since its creation in 2003.
        In this blog post, I'll take you on a journey through the development history of
        Web Project Mechanics, highlighting key milestones and showcasing some of the websites it powers,
        like Frogsfolly.com, DallasInformationCenter.com, and JMShawminerals.com.
      p.
        Twenty years ago, I created my first web content management system and called it Web Project Mechanics
        I tried serval technologies, starting with Front Page and then Java Server Pages (JSP).
        Since then, the system has evolved tremendously, and today it runs on the Microsoft platform, targeting the .NET Framework 4.8.
      p.
        One of the biggest milestones in the history of Web Project Mechanics was the migration from JSP to the Microsoft platform.
        This allowed me to take advantage of the robust tools and resources offered by the Microsoft ecosystem and enabled me to
        provide a more seamless and efficient experience for my users.
      p.
        Over the years, the code for Web Project Mechanics has been hosted in several different places,
        including file backups, Codeplex, Azure DevOps, and finally, in 2008, on GitHub. The GitHub repository
        has been a crucial part of the system's development and has allowed me to manage the codebase more effectively.
      p.
        If you take a look at the first commit in my GitHub repository in 2008, you can see how far I've come.
        From that first commit to today, I've made countless improvements, added new features, and optimized the
        system for better performance and scalability.
      p.
        As I celebrate 20 years of Web Project Mechanics being on the Microsoft platform,
        I want to thank everyone who has been a part of my journey.
        I look forward to continuing to evolve Web Project Mechanics to meet the changing needs of the web content management
        landscape for many years to come.

      dl
        dt Introduction: Setting the Stage for Web Project Mechanics
        dd.
          In 2003, I created my first web content management system using Java Server Pages (JSP).
          This was the start of Web Project Mechanics.
          At that time, I was backing up my code on files, a system that was not ideal, but it worked.
          Web Project Mechanics was built to manage multiple websites using a single MS-Access (.mdb) database.
          It was designed to make website management more efficient and user-friendly.
        dt Early Days: JSP and File Backups
        dd.
          In the early days, Web Project Mechanics was built using JSP and backed up on files.
          This was not an ideal system, but it worked.
          The system was designed to manage multiple websites using a single MS Access (.mdb) database.
          It was built to make website management more efficient and user-friendly.
        dt Migrating to the Microsoft Platform: A Turning Point
        dd.
          In 2008, after years of using JSP, I decided to migrate Web Project Mechanics to the Microsoft platform.
          This was a major turning point in the development history of the project.
          The migration allowed me to take advantage of the robust tools and resources offered by the
          Microsoft ecosystem. It also enabled me to provide a more seamless and efficient experience for my users.
          This move led to the first commit on GitHub in 2008.
        dt Web Project Mechanics Today: GitHub and the .NET Framework
        dd.
          Today, Web Project Mechanics is maintained on GitHub and targets the .NET Framework 4.8.
          The GitHub repository has been crucial in the system's development,
          allowing me to manage the codebase more effectively, collaborate with others,
          and ensure the highest quality of code.
          The current version of Web Project Mechanics includes a caching implementation for better performance.
        dt Featured Websites: Frogsfolly.com, DallasInformationCenter.com, and JMShawminerals.com
        dd.
          Web Project Mechanics powers numerous websites, but three stand out: Frogsfolly.com,
          DallasInformationCenter.com, and JMShawminerals.com.
          These websites showcase the versatility and efficiency of Web Project Mechanics.
          They also represent a few of the many satisfied users of the system.
        dt Conclusion: Celebrating 20 Years of Web Project Mechanics
        dd.
          Frogsfolly.com is a travel guide website that provides visitors with information
          about different cities and tourist attractions.
          DallasInformationCenter.com is a directory of local businesses in the Dallas, Texas area.
          JMShawminerals.com is a website that sells minerals and gems online.
          All of these websites are powered by Web Project Mechanics and have been for several years.


      .subheading.mb-3 Conclusion:
      p.
        As Web Project Mechanics approaches its 21st anniversary, it is a testament to the power of self-motivation
        and the drive to learn and improve. This project has not only helped me gain new skills but has also
        been instrumental in helping others with their websites. The system's success is a reflection of its
        dedication to its development and refinement, as well as a passion for technology. As I look to the
        future of website management, I know that Web Project Mechanics will continue to be a valuable
        tool for creating and managing websites efficiently and effectively.
  hr.m-0
  hr.m-0
