extends ../layouts/articles

block pagehead
  title {{section}} - {{name}}
  meta(name='description', content='{{section}} - {{name}}')
  meta(name='author', content='Mark Hazleton')
  link(rel='canonical', href='https://markhazleton.controlorigins.com/{{slug}}')

block layout-content

  section#post.painteddesert-section.painteddesert-section-background
    .painteddesert-section-content
      h1 {{name}}
      h2.subheading.mb-3 {{description}}
      p.
        {{content}}

