extends ../layouts/articles

block pagehead
  title Taking Microsoft Copilot Studio for a Test Drive
  meta(name='description', content='Mark Hazleton explores Microsoft Copilot Studio, sharing insights on creating a personalized AI chatbot, Copilot Mark. Discover how AI is revolutionizing site interactions and team communication.')
  meta(name='keywords', content='Microsoft Copilot Studio, AI Chatbot, Copilot Mark, AI Technology, Microsoft Teams Integration, AI in Business, Personalized AI, Technology Innovation')
  meta(name='author', content='Mark Hazleton')
  meta(property='og:title' content='Taking Microsoft Copilot Studio for a Test Drive')
  meta(property='og:description' content='Mark Hazleton explores Microsoft Copilot Studio, sharing insights on creating a personalized AI chatbot, Copilot Mark. Discover how AI is revolutionizing site interactions and team communication.')
  meta(property='og:image' content='/assets/img/Copilot-Mark-Studio-Generative-AI.png')
  meta(property='og:url' content='https://markhazleton.com/articles/taking-microsoft-copilot-studio-for-a-test-drive.html')
  meta(property='og:type' content='article')
  meta(name='twitter:card' content='summary_large_image')
  meta(name='twitter:title' content='Taking Microsoft Copilot Studio for a Test Drive')
  meta(name='twitter:description' content='Mark Hazleton explores Microsoft Copilot Studio, sharing insights on creating a personalized AI chatbot, Copilot Mark. Discover how AI is revolutionizing site interactions and team communication.')
  meta(name='twitter:image' content='/assets/img/Copilot-Mark-Studio-Generative-AI.png')
  meta(name='twitter:creator' content='@markhazleton')

  link(rel='canonical', href='https://markhazleton.com/articles/taking-microsoft-copilot-studio-for-a-test-drive.html')

block layout-content

  section#post.painteddesert-section.painteddesert-section-background
    .painteddesert-section-content
      h1 Microsoft Copilot Studio
      .subheading Taking Microsoft Copilot Studio for a Test Drive
      p.
        I recently had the opportunity to delve into the intriguing world of AI with
        <a href='https://www.microsoft.com/en-us/copilot/microsoft-copilot-studio' target='_blank'>Microsoft Copilot Studio</a>.
        In this article, I will share my experience of creating a personalized chatbot, aptly named "Copilot Mark,"
        and how it help me understand the possiblities of using AI to enhance digital interactions.
      p.
        Here is the result of a quick walk arround the tool.
        Meet Copilot Mark, my AI chatbot.  Ask him a question about me and see what he says.

      iframe(src='https://copilotstudio.microsoft.com/environments/Default-a44d2fd6-c460-4297-b40b-d8fa7270d6e9/bots/Default_copilotMark/webchat?__version__=2' frameborder='0' style='min-height:400px;width: 100%; height: 100%;')

      h2 Microsoft's Vision of Copilot Everywhere
      dl
        dt Integrating AI Across Microsoft's Ecosystem
        dd.
          Microsoft envisions integrating the copilot concept across its entire ecosystem, creating a unified AI experience.
          This includes Windows Copilot, GitHub Copilot, Bing Copilot, and others, each tailored to enhance productivity
          and user experience in their respective domains.

        dt Microsoft Copilot
        dd
          p.
            Formerly known as Bing Chat, Microsoft Copilot represents a leap in search engine technology,
            blending traditional search functions with AI-powered conversational capabilities.
            This allows users to have more natural, interactive, and contextually aware interactions
            with the search engine, transforming the way we access and process information online.
          p.
            The experience is seamlessly integrated into the Bing search engine, so users can access it easily.   What starts as a simple search
            can quickly evolve into a conversation, with the AI providing relevant information and suggestions along the way. Here a search for "Mark Hazleton"
            becomes a conversation about Sidetracked by Sizzle.
          img.img-fluid.d-block.w-80.rounded.wide-border(src='/assets/img/Microsoft-Bing-Chat-Copilot-Enhanced-Search.png' alt='Microsoft Bing Chat Copilot Enhanced Search')

        dt Windows Copilot
        dd
          p.
            Windows Copilot is set to revolutionize how we interact with our operating systems.
            Windows Copilot integrates generative AI to enhance user productivity and efficiency.
            It operates as a centralized AI assistant.
            Accessible via a dedicated taskbar button or shortcut.
            Windows Copilot can perform a wide range of tasks, from answering questions to automating repetitive tasks.
            It is espcially useful for basic tasks like how to change the theme in Windows 11.
            Currently in preview, Windows Copilot exemplifies Microsoft's commitment to embedding advanced AI technology
            into the everyday computing experience.
          p.
            In this screen shot while working on this blog post, I was able to highlight a section and get the copilot to help
            revise the text.
          img.img-fluid.d-block.w-80.rounded.wide-border(src='/assets/img/Windows-Copilot-Application-Integration.png' alt='Windows Copilot Application Integration')

      h2 What is Microsoft Copilot Studio?
      p.
        <a href='https://www.microsoft.com/en-us/copilot/microsoft-copilot-studio' target='_blank'>Microsoft Copilot Studio</a>
        is an advanced tool that integrates the capabilities and features of Power Virtual Agents,
        leveraging significant investments in generative AI and enhanced integrations across Microsoft Copilot.
        It enables users to create powerful AI-powered copilots (i.e. chatbot) capable of handling a wide range of requests,
        from answering simple queries to addressing complex conversational issues.
        These copilots can operate in multiple languages and be used across various platforms like websites,
        mobile apps, Facebook, Microsoft Teams, and any channel supported by the Azure Bot Framework.

      dl
        dt Ease of Use
        dd.
          One of the standout features of Microsoft Copilot Studio is its accessibility.
          The platform is structured in a way that makes it easy for non-experts in AI to create sophisticated AI assistants.
          Whether you are a seasoned developer or someone with basic technical skills,
          you will find the process intuitive and straightforward.
          Allowing copilots to be created easily without the need for specialized knowledge in data science or development.

        dt Advanced AI Integration
        dd.
          At the heart of Copilot Studio is the integration of advanced AI technologies.
          This includes natural language processing, machine learning, and data analytics.
          These technologies work together to provide a powerful tool that can understand
          and respond to complex queries, automate repetitive tasks, and even learn from interactions to improve over time.

        dt Customization and Flexibility
        dd.
          Flexibility is another core aspect of Microsoft Copilot Studio.
          The platform allows for extensive customization, enabling users to tailor their AI copilots to specific needs and preferences.

        dt Integration Capabilities
        dd.
          The integration capabilities of Copilot Studio are impressive.
          It seamlessly integrates with various Microsoft services, including Teams and Office 365, as well as external platforms.
          This makes it an incredibly versatile tool, adaptable to different environments and use cases.

        dt Topics:
        dd.
          Copilot Studio supports the creation of a wide range of topics, from basic conversational skills to advanced capabilities like sentiment analysis and data analytics.
          This allows users to create copilots that can handle a variety of tasks, from answering simple questions to addressing complex issues.
          The platform also offers pre-built templates for common use cases, making it easy to get started quickly.

        dt Feedback Mechanism:
        dd.
          Users can provide feedback on the AI's performance through "thumbs up" or "thumbs down" icons,
          aiding in the continual improvement of the AI's quality and relevance.

        dt Analytics:
        dd Copilot Studio provides detailed analytics on the performance of your copilot, including usage statistics, user feedback, and more.

        dt Conversation Booster / Generative Answers
        dd
          p.
            The "Conversation Booster" feature in Microsoft Copilot Studio, also known as "Generative Answers,"
            is a powerful tool for enhancing AI-driven interactions. This feature is designed to significantly boost the conversational capabilities
            of bots created in Copilot Studio, making them more interactive and contextually aware based on the content from designated web sources.
          dl
            dt Website Integration:
            dd.
              You can provide public website URLs for the bot to use as a source for generating answers.
              This URLs become the scope of content used for responses.

            dt Configuration and Moderation:
            dd.
              After creating your copilot, you can confirm and modify settings related to generative answers.
              This includes changing the URL, enabling or disabling the generative answers feature,
              and adjusting the level of content moderation.
              Higher moderation levels yield more relevant answers,
              while lower levels increase the quantity but may include irrelevant or undesirable responses.

      h2 Crafting Copilot Mark
      dl
        dt Personalizing AI
        dd My journey began with the creation of "Copilot Mark," a chatbot designed to reflect my personal digital presence. I fed it content from my websites, enabling it to learn and interact in a way that’s uniquely me.
        dt Training the AI
        dd
          p Training Copilot Mark was a breeze. By inputting data from my sites, it learned to navigate my content and provide accurate, AI-generated responses to queries.
          img.img-fluid.d-block.w-80.rounded.wide-border(src='/assets/img/Copilot-Mark-Studio-Generative-AI.png' alt='Copilot Studio Generative AI')

      h2 Experience with Copilot Mark
      dl
        dt On The Custom Website
        dd
          p Deploying Copilot Mark on a standalone website. Visitors now interact with an AI that understands my site's nuances and offers helpful insights.
          img.img-fluid.d-block.w-80.rounded.wide-border(src='/assets/img/Copilot-Mark-Standalone-Website.png' alt='Copilot Mark Web Site')

        dt Integration with Microsoft Teams
        dd
          p In my demo Office 365 company, integrating Copilot Mark into Teams streamlined communication. It’s like having an AI assistant that’s well-versed in my work and style.
          img.img-fluid.d-block.w-80.rounded.wide-border(src='/assets/img/Copilot-Mark-Teams-Integration.png' alt='Copilot Mark Teams Integration')

      h2 Conclusion
      p.
        In conclusion, Microsoft Copilot Studio not only provided a platform to create a bespoke AI chatbot experience
        but also an avenue to enhance digital interactions both on my site and within my team.
        Microsoft's vision of Copilot everywhere signifies a transformative step in how we will interact with technology in the near future.


