extends ../layouts/articles

block pagehead
  title Case Studies - WebSpark: The Next Evolution of Web Project Mechanics
  link(rel='canonical', href='https://markhazleton.com/articles/webspark-the-next-evolution-of-web-project-mechanics.html')
  meta(name='description', content='Explore the journey from Web Project Mechanics to WebSpark, a suite of web applications designed by Mark Hazleton to enhance digital experiences.')
  meta(name="keywords", content="WebSpark, Web Project Mechanics, Mark Hazleton, web development, .NET, Bootstrap 5")

block layout-content

  section#post.painteddesert-section.painteddesert-section-background
    .painteddesert-section-content
      h1 Hello WebSpark:
      h2.subheading.mb-3 The Next Evolution of Web Project Mechanics
      p.mb-3 Explore the journey from Web Project Mechanics to WebSpark, a suite of web applications designed by Mark Hazleton to enhance digital experiences.
      p.
        My journey with Web Project Mechanics began in 2003 when I first developed it using Java Server Pages. The goal was to create a robust content management system that could handle the complexities of web development. In 2008, recognizing the advancements and potential of the Microsoft platform, I transitioned the project to .NET Framework 4.8. This shift brought enhanced performance, scalability, and integration capabilities, laying a strong foundation for future developments.

      p.
        Over the years, the needs of web development have evolved, and so have the technologies and methodologies used to address them. Web Project Mechanics served its purpose well, but I saw the need for a more modern, versatile, and powerful suite of applications. This realization led to the creation of WebSpark. WebSpark is built with the latest technologies, including .NET 8 and Bootstrap 5, to provide a comprehensive solution for a wide range of web development needs.

      p.
        WebSpark encompasses several applications designed to enhance various aspects of web development:
      dl
        dt WebSpark
        dd.
          WebSpark is a simple web content management system that allows users to create, edit,
          and manage web pages with ease.
          It provides a user-friendly interface and powerful features to streamline the web development process.
        dt PromptSpark
        dd.
          As AI technology continues to advance, PromptSpark helps manage and optimize system prompts for Large Language Models (LLMs).
          This tool allows developers to experiment, refine, and enhance AI interactions effectively.
        dt RecipeSpark
        dd.
          RecipeSpark is a user-friendly platform for saving, organizing, and sharing recipes.
          Its intuitive design makes it easy to manage your culinary adventures and share them with others.
        dt TriviaSpark
        dd.
          Engage and entertain your audience with TriviaSpark, which offers a variety of quizzes and trivia games.
          It's perfect for both fun and educational purposes, providing a great way to test and expand knowledge.

      p.
        The decision to transition from Web Project Mechanics to WebSpark was driven by the need to stay current with technological advancements and to provide solutions that are more aligned with the modern requirements of web development. WebSpark represents my commitment to continuous innovation and practical solutions. By focusing on tangible benefits and avoiding unnecessary complexities, WebSpark is designed to make technology work for businesses of all sizes. Whether you're working on a small business-to-consumer website or a large enterprise project, WebSpark provides the tools and flexibility needed to succeed.

      p.
        Experience the next generation of web development with WebSpark. Transform your ideas into reality with a suite of applications that deliver real value. Explore more about WebSpark and how it can benefit your projects at [WebSpark](https://webspark.markhazleton.com).

      h2.display-4 The Evolution of WebSpark
      p.lead From Web Project Mechanics to WebSpark: A Journey of Innovation in Web CMS
      p
        | WebSpark, my state-of-the-art web content management system (Web CMS), has a rich history that began in 2003 with the creation of Web Project Mechanics. It all started as a way to share photos of my children in a private, protected way while my wife and I were on expatriate assignments in Poland and the UK. Initially developed using Java Server Pages (JSP), it was quickly migrated to the Microsoft Stack, including using MS-Access as the backing database.
      p
        | My journey in web development began in 1999 when I purchased my first domain, Frogsfolly.com, and launched it using FrontPage to generate HTML files. This early experience laid the foundation for my understanding of web technologies.

      .accordion#historyAccordion
        .accordion-item
          h2.accordion-header#headingOne
            button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
              | 1999 - 2002: Early Development and Technologies
          #collapseOne.accordion-collapse.collapse.show(aria-labelledby="headingOne" data-bs-parent="#historyAccordion")
            .accordion-body
              ul
                li
                  span.timeline-date 1999
                  |  - Purchased Frogsfolly.com and launched it using FrontPage to generate HTML files.
                li
                  span.timeline-date 2003
                  |  - Created a basic web CMS built with JSP and then with Active Server Pages.

        .accordion-item
          h2.accordion-header#headingTwo
            button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
              | 2002 - 2008: Transition to .NET and Expansion
          #collapseTwo.accordion-collapse.collapse(aria-labelledby="headingTwo" data-bs-parent="#historyAccordion")
            .accordion-body
              ul
                li
                  span.timeline-date 2002
                  |  -
                  span.timeline-event ASP.NET
                  | : Launch of the .NET Framework with support for Web Forms.
                li
                  span.timeline-date 2008
                  |  - Transitioned Web Project Mechanics to .NET Framework 4.8, enhancing performance and scalability.
              | ASP.NET was a game changer, enabling me to build a full CMS using an Access database backend. This multi-tenant solution hosted multiple sites, including ProjectMechanics.com, Frogsfolly.com, and ControlOrigins.com.

        .accordion-item
          h2.accordion-header#headingThree
            button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree")
              | 2009 - 2016: Advancements with ASP.NET MVC and .NET Core
          #collapseThree.accordion-collapse.collapse(aria-labelledby="headingThree" data-bs-parent="#historyAccordion")
            .accordion-body
              ul
                li
                  span.timeline-date 2009
                  |  -
                  span.timeline-event ASP.NET MVC
                  | : Introduction of the MVC design pattern for web applications.
                li
                  span.timeline-date 2016
                  |  -
                  span.timeline-event ASP.NET Core
                  | : A cross-platform, high-performance framework.
              | Throughout this period, I kept the solution current with each ASP.NET upgrade from 1.1 to 4.8, hosting as many as 150 different domains on a single Access database.

        .accordion-item
          h2.accordion-header#headingFour
            button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour")
              | 2020 - Present: The Birth of WebSpark
          #collapseFour.accordion-collapse.collapse(aria-labelledby="headingFour" data-bs-parent="#historyAccordion")
            .accordion-body
              ul
                li
                  span.timeline-date 2020
                  |  -
                  span.timeline-event .NET 5
                  | : Unification of .NET Framework and .NET Core.
                li
                  span.timeline-date 2021
                  |  -
                  span.timeline-event .NET 6
                  | : Introduction of Long-Term Support (LTS).
                li
                  span.timeline-date 2022
                  |  -
                  span.timeline-event .NET 7
                  | : Focus on productivity enhancements and cloud-native applications.
                li
                  span.timeline-date 2023
                  |  -
                  span.timeline-event .NET 8
                  | : Further performance improvements and streamlined development features.
              | The strength and versatility of .NET Core, and eventually .NET 8, convinced me to rewrite Web Project Mechanics entirely, leading to the birth of WebSpark. Built with .NET 8 and Bootstrap 5, WebSpark offers a suite of applications like PromptSpark, RecipeSpark, and TriviaSpark, designed to meet modern digital needs.
