extends ../layouts/articles

block pagehead
  title WichitaSewer.com Creation Story
  meta(name="description", content="Discover the journey behind the creation of the Wichita Sewer and Drain website, from initial planning to final launch, and the lessons learned along the way.")
  meta(name="keywords", content="")
  link(rel='canonical', href='https://markhazleton.controlorigins.com/articles/wichita-sewer-site-creation.html')
  meta(property="og:title", content="WichitaSewer.com Creation Story")
  meta(property="og:description", content="Discover the journey behind the creation of the Wichita Sewer and Drain website, from initial planning to final launch, and the lessons learned along the way.")
  meta(property="og:image", content="https://markhazleton.controlorigins.com/assets/images/project-team-mix.jpg")
  meta(property="og:url", content="https://markhazleton.controlorigins.com/articles/wichita-sewer-site-creation.html")
  meta(name="twitter:card", content="summary_large_image")
  meta(name="twitter:title", content="WichitaSewer.com Creation Story")
  meta(name="twitter:description", content="Discover the journey behind the creation of the Wichita Sewer and Drain website, from initial planning to final launch, and the lessons learned along the way.")
  meta(name="twitter:image", content="https://markhazleton.controlorigins.com/assets/images/project-team-mix-twitter.jpg")
  meta(name="robots", content="index, follow")
  meta(name="language", content="English")
  meta(name="revisit-after", content="7 days")

block layout-content

  section#post.painteddesert-section.painteddesert-section-background
    .painteddesert-section-content
      h1 From Concept to Live
      .subheading The Unveiling of the Wichita Sewer and Drain Website
      section
        .row
          .col.col-sm-12.col-md-6
            h2 Introduction
            p.
              I want to share a journey that began at a Rotary Club meeting,
              an encounter that would lead to an exciting project intertwining technology, creativity, and entrepreneurship.
              It was there I met Jonathan Roper, an entrepreneur from Wichita, Kansas, brimming with ideas and the recent owner
              of a license for a Sewer and Drain Service company. What Jon lacked, however, was a digital presence for his new venture,
              a gap I was eager to fill.
              This is the story of how <a href='https://wichitasewer.com' target='_blank' title='Wichita Sewer and Drain Service'>WichitaSewer.com</a> came to be, a project born from a chance meeting and driven by a shared vision
              to build something impactful.
            p.
              When I first decided to embark on creating a digital presence for Wichita Sewer and Drain,
              I knew it would be a journey full of challenges and opportunities for growth.
              This adventure began at a Rotary event, where I met Jonathan Roper, an entrepreneur from Wichita, Kansas.
              Jonathan had just launched his Wichita Sewer and Drain Service company and was in need of a website
              that could showcase his services and connect with the community.
            p.
              The vision was to develop an online space that was not just informative but also engaging
              and representative of the brand's commitment to quality service.
              This vision was the catalyst for a journey that would see the creation of the Wichita Sewer and Drain website,
              from its initial planning and design to its final launch and beyond.

          .col.col-sm-12.col-md-6
            .card
              .card-header
                h3 Jonathan Roper on ICT Podcast
                p.lead February 19, 2024
              .card-body
                p.
                  Tune into the episode of the ICT Podcast with Jonathan Roper, the visionary Founder of WichitaSewer.com.
                  The podcast does a dive deep into the entrepreneurial spirit with Jonathan Roper,
                  the visionary Founder of WichitaSewer.com.
                  Don't miss this exclusive opportunity to learn from one of the industry's most forward-thinking minds.
                  Listen now and let Jonathan Roper's story spark your next big idea!
                  #ICTPodcast #Entrepreneurship #Innovation #JonathanRoper #WichitaSewer
                  <a href="https://ictpodcast.us/episodes.php" target="_blank" rel="noopener" title="Listen to the ICT Podcast with Jonathan Roper">Listen to the ICT Podcast with Jonathan Roper</a>

        p.
          The creation of the brand logo was a collaborative effort that combined the creative
          talents of a Fiverr consultant and the artistic touch of a local artist.
          We aimed for a logo that was versatile and memorable, one that could easily transition
          from the website to physical items like work shirts and promotional products.
        p.
          Choosing the SB UI Kit Pro as our template was a strategic decision to ensure our
          website had a strong and flexible foundation. It offered a range of design options
          and functionalities that were crucial for building a modern and user-friendly site.
          The development process was streamlined through the use of Azure Static Pages and Cloudflare
          for hosting and DNS management, with GitHub serving as the backbone for our development and deployment workflow.

        p Ensuring the website was visible and easily discoverable on search engines was a top priority. I integrated Google Analytics, Google Search Console, and Bing Webmaster tools to track user activity and optimize the site's search engine performance. This wasn't just about creating a static website; it was about establishing a dynamic online presence that could grow and evolve with the business.
        p Reflecting on the journey from concept to launch, I'm reminded of the power of collaboration, strategic planning, and the importance of leveraging the right digital tools. This article is a personal account of that journey, sharing the key decisions, challenges, and successes we encountered along the way. From the initial planning stages to the final launch and beyond, every step was a learning experience, showcasing the impact of digital innovation on local businesses.

      section
        h2 Initial Planning and Design
        p The journey to creating the Wichita Sewer and Drain website began with a simple yet profound realization: every great venture starts with a solid plan and a clear vision. My first step was to immerse myself in understanding the core of Jonathan's business, its values, and how it wished to be perceived by its clientele. This foundational knowledge was crucial in guiding every subsequent decision, from the aesthetics of the logo to the functionality of the website.
        p The logo's creation was a journey unto itself, embodying the essence of the brand in a visual form. We embarked on a collaborative process, engaging both a talented Fiverr consultant and a local artist known for their creativity. The synergy between their distinct styles and perspectives culminated in a logo that was not just visually appealing but also versatile enough to grace various mediums, from the digital landscape of the website to tangible items like work shirts and promotional products.
        p Our choice of the SB UI Kit Pro template from StartBootstrap was influenced by its robust features and adaptability. It offered a wealth of design elements and functionalities, all built on the latest web technologies. This template was not just a starting point but a launchpad that allowed us to craft a website that was both aesthetically pleasing and functionally robust, leveraging the power of Bootstrap 5 and the pug template tool.
        p The initial phase of planning and design set the stage for what was to become a digital embodiment of Wichita Sewer and Drain. It was a period marked by decisions that were both strategic and creative, each step taken with the goal of building a website that not only met our immediate needs but also provided a scalable foundation for the future.
      section
        h2 Development and Deployment
        p The transition from design to development marked a pivotal phase in the journey of bringing the Wichita Sewer and Drain website to life. Armed with a clear vision and a solid plan, I embarked on the technical endeavor of turning our conceptual designs into a functional digital space.
        p Choosing Azure Static Pages for hosting was a strategic move, aimed at leveraging the scalability and reliability of Microsoft's cloud services. This decision was complemented by the integration of Cloudflare for DNS management, ensuring not only the seamless distribution of web content but also enhanced security and performance. The synergy between Azure and Cloudflare provided a robust infrastructure that was both efficient and cost-effective.
        p The heart of the development process was rooted in GitHub, where I created a dedicated repository for the project. This platform became the central hub for version control and collaboration, allowing me to meticulously build and refine the website's features. GitHub Pages served as an invaluable tool, enabling me to share progress with Jonathan in real-time. This iterative approach, facilitated by simple git commits and pushes, ensured that we could rapidly implement feedback and make adjustments, keeping the project agile and aligned with our objectives.
        p The initial setup on GoDaddy, where the domain and email were already established, required careful integration. I created a support@wichitasewer.com account, which became the cornerstone for managing all necessary tools and services to build and promote the site. This step was crucial in streamlining communication and ensuring that all aspects of the website's infrastructure were cohesive and well-coordinated.
        p The final piece of the development puzzle was setting up an Azure Subscription for the Azure Static App instance. This process was seamlessly integrated with our GitHub repository, enabling a continuous integration and continuous deployment (CI/CD) workflow. This setup not only streamlined updates and maintenance but also reinforced the website's stability and responsiveness to changes.
        p The development and deployment phase was a testament to the power of modern web technologies and the importance of a well-structured workflow. It was a period of intense focus and technical rigor, where each line of code and every deployment decision was made with the user experience and the business's digital presence in mind.

      section
          picture
            a( title="Wichita Sewer and Drain Service"  target="_blank" href="https://wichitasewer.com")
              img.img-fluid.border.border-4.rounded.mx-auto.d-block(src="/assets/img/WichitaSewerAndDrain.png", alt="WichitaSewer.com", title="WichitaSewer.com")

      section
        h2 Lessons Learned
        p.
          Bringing the Wichita Sewer and Drain website from concept to live was not just about building a digital presence;
          it was a profound learning experience that offered numerous insights into the complexities of web development
          and project management. Reflecting on this journey, several key lessons stand out:
        dl
          dt  Embrace Flexibility and Adaptability
          dd.
            One of the first lessons learned was the importance of being flexible and adaptable.
            In the fast-paced world of web development, unexpected challenges are a given.
            Whether it was tweaking the design to better meet user needs or adapting our strategy to accommodate new technologies,
            the ability to pivot and adjust our approach was invaluable.

          dt  The Power of Collaboration
          dd.
            The collaboration between myself, Jonathan, the Fiverr consultant, and the local artist highlighted
            the incredible value of diverse perspectives and expertise.
            Each team member brought unique skills and insights that enriched the project,
            underscoring the fact that collaboration is a powerful tool for achieving exceptional results.

          dt  Importance of User-Centered Design
          dd  Focusing on the user experience from the outset guided many of our decisions, from the layout and navigation to the content and aesthetics. This user-centered approach ensured that the website was not only visually appealing but also intuitive and user-friendly, which is crucial for engaging and retaining visitors.

          dt  Continuous Learning and Improvement
          dd  The digital landscape is ever-evolving, and staying abreast of the latest trends, tools, and best practices is essential. This project was a reminder of the importance of continuous learning and the willingness to incorporate new ideas and technologies to enhance the website's effectiveness and efficiency.

          dt  SEO and Performance Optimization
          dd  The significance of SEO and performance optimization was another critical takeaway. Ensuring the website was optimized for search engines and performed well across all devices was pivotal in enhancing its visibility and user experience, ultimately contributing to the site's success.

          dt  The Value of Iterative Development
          dd  Lastly, adopting an iterative development approach allowed us to refine and improve the website continuously. By viewing the launch not as the end but as a milestone in an ongoing process, we were able to make iterative improvements based on user feedback and analytics, ensuring the website remained relevant and effective.

        p These lessons learned from the Wichita Sewer and Drain website project are not just applicable to web development but to a wide range of projects and endeavors. They underscore the importance of adaptability, collaboration, user focus, continuous learning, and iterative improvement in achieving success.






