extends ../layouts/articles

block pagehead
  title You Got A Mac: Broadening My Horizons with a MacBook Pro
  meta(name='description', content='My journey Wwth macOS, learning to use a MacBook Pro and enhancing my tech toolkit.')
  meta(name="keywords" content="Windows to Mac, MacBook Pro, macOS, trackpad gestures, MacBook development tools")
  meta(name='author', content='Mark Hazleton')
  link(rel='canonical', href='https://markhazleton.com/articles/windows-to-mac-broadening-my-horizons.html')
  meta(property='og:title' content='You Got A Mac: Broadening My Horizons with a MacBook Pro')
  meta(property='og:description' content='My journey Wwth macOS, learning to use a MacBook Pro and enhancing my tech toolkit.')
  meta(property='og:image' content='/assets/img/MarkHazleton-MacBook-Desktop.png')
  meta(property='og:url' content='https://markhazleton.com/articles/automating-my-github-profile-with-the-latest-blog-posts-using-github-actions.html')
  meta(property='og:type' content='article')
  meta(name='twitter:card' content='summary_large_image')
  meta(name='twitter:title' content='You Got A Mac: Broadening My Horizons with a MacBook Pro')
  meta(name='twitter:description' content='My journey Wwth macOS, learning to use a MacBook Pro and enhancing my tech toolkit.')
  meta(name='twitter:image' content='/assets/img/MarkHazleton-MacBook-Desktop.png')
  meta(name='twitter:creator' content='@markhazleton')
block layout-content

block layout-content

  section#post.painteddesert-section.painteddesert-section-background
    .painteddesert-section-content
      h1 You Got A Mac: Broadening My Horizons
      p.lead.
        My journey to learn how to use my new MacBook Pro and enhancing my tech toolkit.
      p.
        When I first added a MacBook Pro to my toolkit, I quickly realized that I wasn’t just making a
        practical decision—I was also walking into a community eager to celebrate what many view as a kind of “awakening.”
        The Mac community, famously passionate and devoted, welcomed me with open arms, excited to find another “convert” who had,
        in their eyes, seen the light.
        For many, adopting macOS feels like a personal evolution, a shift to a more enlightened way of using technology.
      p.
        But for me, this wasn’t about a grand conversion or leaving behind what I knew.
        It was simply about expanding my skillset, learning new tools,
        and seeing how I could integrate macOS into my workflow alongside Windows.
        While I appreciate their enthusiasm, my journey isn’t about choosing sides—it’s about being fluent in both ecosystems,
        using the best of each to get the job done.
      picture
        img.img-fluid.border.border-4.rounded.mx-auto.d-block(src="/assets/img/MarkHazleton-MacBook-Desktop.png", alt="Mac Desktop", title="Mac Desktop")
      p.
        Adding a MacBook Pro and the MacOS to my technology toolkit has been an exciting experience. As someone deeply familiar with Windows,
        diving into the macOS environment surprisingly familiar. Each system has its strengths,
        and learning to navigate macOS has been a journey of discovery that complements my existing knowledge.

      dl
        dt First Impressions
        dd
          p.
            The sleek design and premium build of the MacBook Pro immediately stood out to me. Booting up the Mac for the first time was smooth,
            and I was struck by the clarity of the Retina display—ideal for graphic work and reading.
          p.
            I watched a few tutorials to get started, learning about the Dock, Finder, and the App Store.
            The learning curve was manageable, and I quickly got my favorite apps installed and running.

        dt Exploring macOS Basics
        dd
          p.
            Getting acquainted with macOS wasn’t about abandoning Windows, but rather learning a new system with its own strengths.
            Key shortcuts like Command + C/V replace Ctrl + C/V, while
            Command + Tab lets you switch between applications, much like Alt + Tab in Windows.

        dt Enhancing My Toolkit
        dd
          p.
            Gestures like swiping with three fingers to switch apps and pinch to zoom made the experience more interactive.  I think it will
            take more time to master, but it’s a fun way to navigate the system.  The trackpad is responsive and has lots of functions that I
            have yet to explore.  I am still using my external windows keyboard and mouse since I have a docking station in my home office. 

        dt Surprisingly Open and Flexible
        dd
          p.
            I was pleasantly surprised by the flexibility of macOS. I was able to install Chrome, Firefox, and even Visual Studio Code with ease.
            The Windows App was able to connect to my VMS on Azure. The big surprise was that
            my Dell docking station worked with the MacBook Pro, a big win for me.  I was able to connect my monitor, keyboard, and mouse
            to the MacBook Pro and use it as a desktop replacement.  Even my headset worked without any issues.  Even the Windows App on MacOS made
            multiple monitor support a breeze, this is not the case of running Remote Desktop on Windows 11.
          p.
            A KVM switch is a device that allows you to control multiple computers using one keyboard, video monitor, and mouse. 
            Instead of having separate sets of these peripherals for each computer. My KVM switch is the key component that allows me to toggle between the MacBook
            and my Windows desktop without needing to reconnect any devices.
            With a quick press of a button on the KVM,
            I can instantly switch from one machine to the other—no plugging or unplugging required.
          p.
            This configuration gives me the best of both worlds:
            the versatility of macOS and the familiarity of Windows,
            all within a streamlined, efficient workspace.
            Whether I’m coding, designing, or managing projects,
            I have the flexibility to use the right tool for the job,
            without sacrificing the comfort of my preferred peripherals or display setup.
        dt Old Friends in New Places
        dd 
          p. 
            I have enjoyed the native mac versions of some of my favorite apps, like Microsoft Teams, which I use for meetings and collaboration.
            and Visual Studio Code, which I use for development.  I was able to install both apps from the App Store and get them up and running
            without any issues.  I was able to connect to my meetings and collaborate with my team without any issues.
        dt Native Teams
        dd
          p.
            The MacOS version of Teams felt very familiar, and I was able to connect to my meetings without any issues.  Screen sharing is
            a bit different and maybe slower, will nedd more testing to see if it’s a network issue or a Teams issue.

        dt Spotlight and Finder
        dd
          p.
            Spotlight on macOS is an interested anternative to file search or launching applications.
            It’s a powerful tool that can search the web, find files, and even do calculations.  Finder is the equivalent of Windows Explorer,
            and I found it easy to navigate and use.

        dt Development Tools on macOS
        dd
          p.
            As a developer, the availability of Xcode and Swift for iOS and macOS development opened new doors.
            But I chose to start with VS Code, which is available on both platforms. Though I continue using Visual Studio Code,
            having the flexibility to develop across platforms is a big win for expanding projects.
          p.
            Once VS Code was set up, I installed Homebrew to manage packages and Node.js for JavaScript development.  I was able to run a
            few of my Node.js projects without any issues.   Just a few tweaks on how to run broswer based projects, but nothing major.

        dt ChatGPT Ready When I need It
        dd
          p.text-muted.mb-3
           | The new ChatGPT app for macOS offers a native experience, making it easier to interact with AI across your system. With the ability to use the 
           strong Option + Space
           | shortcut, you can quickly access the app from any screen without switching between windows. Whether you're drafting an email, solving a coding issue, or brainstorming ideas, the app seamlessly integrates into your workflow.
          p. 
            One standout feature is the ability to capture and share screenshots directly within the app. 
            Imagine hitting an error in your code—just snap a screenshot, and ChatGPT can help troubleshoot it. 
            You can also dictate your queries using voice commands, adding another layer of convenience.
          p.text-muted.mt-4
           | With support for Apple Silicon (M1 and newer), this app is designed for modern macOS systems. Customize keyboard shortcuts and manage privacy settings right from the app to enhance your experience. For those seeking quick, integrated access to ChatGPT, this app is a game changer for productivity.
          p. 
            I was able to install ChatGPT from the App Store and get it up and running without any issues.  I was able to use it to generate
            some content for my blog and get some ideas for my projects.  I was able to use it to generate some content for my blog and get some ideas for my projects.
            I really like that is availble from the top menu bar and I can access it when I need it.
          p.
            Transitioning wasn’t without challenges. Adjustments like learning the new keyboard shortcuts for Home and End or file management quirks
            took some time, but with shortcuts like Command + Option + V, moving files became second nature.


      p.
        Expanding my technological toolkit with a MacBook Pro has been a rewarding experience. It’s not about choosing one system over another, but
        understanding each one’s strengths.
