nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container.px-5
    a.navbar-brand(href='/') Mark Hazleton
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ms-auto.mb-2.mb-lg-0
        li.nav-item.dropdown
          a#navbarDropdownBlog.nav-link.dropdown-toggle(href='#', role='button', data-bs-toggle='dropdown', aria-expanded='false')
            | Project Mechanics
          ul.dropdown-menu.dropdown-menu-end(aria-labelledby='navbarDropdownBlog')
            li
              a.dropdown-item(href='/projectmechanics/') Project Mechanics
            li
              a.dropdown-item(href='/projectmechanics/project-life-cycle.html') Project Life Cycle
            li
              a.dropdown-item(href='/projectmechanics/program-management-office.html') Program Management Office
        li.nav-item
          a.nav-link(href='/projectmechanics/change-management.html') Change Management
        li.nav-item
          a.nav-link(href='/projectmechanics/conflict-management-for-project-managers.html') Conflict Management
        li.nav-item.dropdown
          a#navbarDropdownBlog.nav-link.dropdown-toggle(href='#', role='button', data-bs-toggle='dropdown', aria-expanded='false')
            | Leadership
          ul.dropdown-menu.dropdown-menu-end(aria-labelledby='navbarDropdownBlog')
            li
              a.dropdown-item(href='/projectmechanics/leadership/') Leadership
            li
              a.dropdown-item(href='/projectmechanics/leadership/accountability-and-authority.html') Accountability and Authority
            li
              a.dropdown-item(href='/projectmechanics/leadership/evolution-over-revolution.html') Evolution over Revolution
            li
              a.dropdown-item(href='/projectmechanics/leadership/from-features-to-outcomes.html') From Features to Outcomes

