include ./../modules/mixins.pug

footer.navbar-dark.bg-primary
  .row
    .col-1
      br

    .col-10.text-left.text-light
      br
      .row
        +renderFooter(articles)
  .row
    .col-1
      br
    .col-10.justify-content-end
      br
      .social-icons.d-flex
        a.social-icon(href='https://www.linkedin.com/in/markhazleton' target="_blank" rel="noopener noreferrer" title="LinkedIn Profile")
          i.fab.fa-linkedin-in
        a.social-icon(href='https://github.com/markhazleton' target="_blank" rel="noopener noreferrer" title="GitHub Profile")
          i.fab.fa-github
        a.social-icon(href='https://www.youtube.com/@MarkHazleton' target="_blank" rel="noopener noreferrer" title="YouTube Channel")
          i.fab.fa-youtube
        a.social-icon(href='https://www.instagram.com/markhazleton/' target="_blank" rel="noopener noreferrer" title="Instagram Profile")
          i.fab.fa-instagram
        a.social-icon(href='https://markhazleton.com/rss.xml' target="_blank" rel="noopener noreferrer" title="RSS Feed")
          i.fas.fa-rss
        br
  .row
    .col-12
      br
// Core theme JS
script(src='/js/scripts.js')
