
footer.navbar-dark.bg-primary
  .row
    .col-1
      br
    .col-8
      br
      script(src='https://utteranc.es/client.js', repo='markhazleton/markhazleton-resume', issue-term='title', theme='github-dark-orange', crossorigin='anonymous', async='')
      br
    .col-3
      br
      .social-icons
        a.social-icon(href='https://www.linkedin.com/in/markhazleton' target="_blank" rel="noopener noreferrer" title="LinkedIn Profile")
          i.fab.fa-linkedin-in
        a.social-icon(href='https://github.com/markhazleton' target="_blank" rel="noopener noreferrer" title="GitHub Profile")
          i.fab.fa-github
        br
        br
        br



// Bootstrap core JS
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js')

// Core theme JS
script(src='js/scripts.js')
