include ./../modules/mixins.pug

footer.navbar-dark.bg-primary
  .row
    .col-1
      br
    .col-10.text-left
      br
      +relatedDocuments(articles, currentSlug, lastModified)

  .row
    .col-1
      br

  .row
    .col-1
      br
    .col-10.justify-content-end
      br
      .social-icons.d-flex
        a.social-icon(href='https://www.linkedin.com/in/markhazleton' target="_blank" rel="noopener noreferrer" title="LinkedIn Profile")
          i.bi.bi-linkedin
        a.social-icon(href='https://github.com/markhazleton' target="_blank" rel="noopener noreferrer" title="GitHub Profile")
          i.bi.bi-github
        a.social-icon(href='https://www.youtube.com/@MarkHazleton' target="_blank" rel="noopener noreferrer" title="YouTube Channel")
          i.bi.bi-youtube
        a.social-icon(href='https://www.instagram.com/markhazleton/' target="_blank" rel="noopener noreferrer" title="Instagram Profile")
          i.bi.bi-instagram
        a.social-icon(href='https://markhazleton.com/rss.xml' target="_blank" rel="noopener noreferrer" title="RSS Feed")
          i.bi.bi-rss
        br
  .row
    .col-12
      br
// Core theme JS
- var jsVersion = typeof buildVersion !== 'undefined' ? buildVersion : '1.0.0';
script(src=`/js/scripts.js?v=${jsVersion}`)
