block variables
doctype html
- var today = new Date();
- var yyyy = today.getFullYear();
- var mm = ('0' + (today.getMonth() + 1)).slice(-2);
- var dd = ('0' + today.getDate()).slice(-2);
- var dateString = '' + yyyy + mm + dd;
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="seobility" content="f80235aca1a812e0afde44f0142c825b")
    link(rel="shortcut icon", href="/assets/img/favicon.ico")
    link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')
    meta(name='robots', content='index, follow')
    meta(property='og:title', content='Mark Hazleton - Solutions Architect')
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://markhazleton.com/')
    meta(property='og:image', content='https://markhazleton.com/assets/img/MarkHazleton.jpg')
    meta(property='og:description', content='Solutions Architect, lifelong learner, not sidetracked by sizzle. Showcasing a journey of bridging technology with business goals through articles, projects, and professional experiences.')
    script(type="application/ld+json").
      {
      "@context": "http://schema.org",
      "@type": "Person",
      "name": "Mark Hazleton",
      "jobTitle": "Solutions Architect",
      "alumniOf": "University of North Texas",
      "affiliation": {
        "@type": "Organization",
        "name": "Control Origins"
      },
      "sameAs": [
        "https://www.linkedin.com/in/markhazleton",
        "https://github.com/markhazleton"
      ],
      "url": "https://markhazleton.com/"
      }
    script(type="application/ld+json").
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "https://markhazleton.com/",
        "logo": "https://markhazleton.com/assets/img/MarkHazleton.jpg"
      }

    block pagehead
    // No external font dependencies - using system fonts

    link(rel='stylesheet', href=`/css/styles.css?version=${dateString}`, type='text/css')

    // Global site tag (gtag.js) - Google Analytics
    script(src="https://www.googletagmanager.com/gtag/js?id=G-L8GVZNDH0B",Async)
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-L8GVZNDH0B');
    script.
      (function(c,l,a,r,i,t,y){
      c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
      t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i+"?ref=bwt";
      y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "d628hovv63");


  body#page-top.projectmechanics-body.d-flex.flex-column

    include navbar.pug

    main.flex-shrink-0.projectmechanics-background
      block layout-content
      include page-footer.pug
