//
// Global
//

body {
    padding-top: $navbar-base-height;
    color: $gray-600;
}

@include media-breakpoint-up(lg) {
    body {
        padding-top: 0;
        padding-left: $sidebar-base-width;
    }
}

h1,h2,h3,h4,h5,h6{text-transform: capitalize;}

h1 {line-height: 1;}

p.lead {
    font-size: 1.15rem;
    font-weight: 400;
}

.subheading {
    font-family: $headings-font-family;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.5rem;
}

/* For all <code> */
pre.code {
    background: rgba(131, 88, 11, 0.25);
    word-wrap: break-word;
    padding: 0.1rem 0.3rem 0.2rem;
    border-radius: 0.2rem;
    font-family: monospace;
    font-size: 8px;
    width: 95%;
}

dl dd dl dt {
    margin-top: 0em;
    margin-left: 1em;
}
dl dd dl dd {
    margin-top: 0em;
    margin-left: 1em;
}
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }

  .wide-border {
    border: 4px solid #000; /* Change the color and width as needed */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Bootstrap shadow utility or custom shadow */
}

.accordion-button {
    background-color: #f8f9fa;
    color: #333;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

  .accordion-button:hover {
    background-color: rgba(131, 88, 11, 0.25);
    color: #fff;
  }

  .accordion-body {
    transition: max-height 0.3s ease;
  }

  @media (max-width: 768px) {
    .accordion-button {
      font-size: 14px;
      padding: 0.75rem;
    }

    .accordion-body {
      padding: 0.5rem;
    }
  }
