//
// Styles
//

// Import variables
@import "./variables.scss";

// Import Custom Functions before Bootstrap
@import "./custom-functions";

// Import shared base libraries (Bootstrap, icons, etc.)
@import "./base-libraries";

// Global CSS
@import "./global.scss";

// Components
@import "./components/icons.scss";

// Sections
// ProjectMechanics section has been moved to standalone site
