//
// Styles
//

// Import variables
@import "./variables.scss";

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";
@import "fontawesome-free/css/all";
@import "prismjs/themes/prism-okaidia";
@import "devicon/devicon-base";
@import "devicon/devicon.min";

// Global CSS
@import "./global.scss";

// Components
@import "./components/sidenav.scss";
@import "./components/icons.scss";

// Sections
@import "./sections/resume-section.scss";
@import "./sections/sidetracked-section.scss";
@import "./sections/painteddesert-section.scss";
@import "./sections/projectmechanics-section.scss";

@font-face {
    font-family: 'fa-brands';
    src: url('fontawsome-free/webfonts/fa-brands-400.woff2') format('woff2'), // Modern Browsers
         url('fontawsome-free/webfonts/fa-brands-400.woff') format('woff'), // Modern Browsers
         url('fontawsome-free/webfonts/fa-brands-400.ttf') format('truetype'); // Safari, Android, iOS
    font-weight: normal;
    font-style: normal;
  }
