//
// Colors
//
// Pre-state grayscale colors used in other variables
$gray-800: #83580b;

// Override Bootstrap color system

$orange: #d9b650;

// Override Bootstrap default state colors

$primary: #83580b;
