extends ../layouts/projectmechanics

block pagehead
  title Mark Hazleton - Project Mechanics
  meta(name='description', content='Mark Hazleton - Project Mechanics - The Art and Science of Project Management')
  meta(name='author', content='Mark Hazleton')
  link(rel='canonical', href='https://markhazleton.controlorigins.com/projectmechanics/index.html')

block layout-content

  section#post.projectmechanics-section.projectmechanics-section-background
    .projectmechanics-section-content
      h1.mb-0 Project Mechanics
      h2.subheading.mb-3 The Art and Science of Project Management
      p.lead.
        Management is getting work done through others.
        It is often not characterized as 'real' work.
        However, anyone who has experienced bad management will tell you,
        this could not be further from the truth.
        Project Mechanics is dedicated to providing someone who finds themselves
        in the role of Project Manager with the primary tools
        and techniques necessary for achieving well-managed projects.
      p.
        Successful project management is part &quot;art&quot; and part &quot;mechanics&quot;.
        Project Mechanics are objective and relatively easy to describe,
        whereas the art of project management is left to each individual&apos;s interpretation.
        However, Project Mechanics are tasks that simply must be carried
        out to ensure project success.
        The level of detail associated with each task is determined on a
        project-by-project basis, but the fundamental steps must be followed.
        It is important to note, however, that simply mechanically performing
        tasks will not ensure project success.
        The tasks and procedure framework described are only a foundation
        for project success - not a guarantee.
      p.
        True project success relies less on project mechanics
        and more on the art that is the subjective side of Project Management.
        At the core of this subjective area is the art of effective communication.
      p.
        More than any other soft skill, a Project Manager must learn to
        effectively communicate with the three Project consistencies:
      dl
        dt Client
        dd who is receiving the output of the project
        dt Staff
        dd who is performing the steps necessary to complete the project object
        dt Management
        dd the folks paying for the project

      p.
        In the project mechanics section, you will find guidelines,
        tools, and reference materials.
        It is ultimately up to each project manager to create
        an effective communication and management style.
      p.
        Project management is the discipline of planning, organizing,
        and managing resources to bring about the successful completion
        of specific project goals and objectives.
        The Project Manager has the responsibility of leading the team to success.
        Both client and Company personnel will look to the project managers
        for leadership throughout the project life cycle.
        Mastering project mechanics, determining their appropriate application,
        and effective communication with all parties involved is the challenge
        facing every project manager.
      p.
        Project work is about managing and participating in projects
        from concept to operational use.
        Topics include techniques of project scope, work breakdown analysis,
        task estimating and scheduling, and resource, risk and cost management.
        The human aspects of project work, teams and communication
        are addressed as are quality assurance and quality standards.
      p.
        Project Management Professional - PMP
      p.
        Once you know that you have a project, you need to find someone to make it happen.
        A project manager is uniquely responsible for the execution
        and success of the project.
        <a href='https://www.pmi.org/' rel="noopener noreferrer" target='_blank' alt='Project Management Institute'>The project management institute (PMI)</a>
        is the world&apos;s leading not-for-profit professional membership association.
        PMI says it best in the 2000 edition of A Guide to the
        Project Management Body of Knowledge (PMBOK&reg; Guide):
      blockquote.
        Project management is the application of knowledge, skills, tools,
        and techniques to a broad range of activities
        to meet the requirements of a particular project.
        Project management is comprised of five processes -
        Initiating, Planning, Executing, Controlling, and Closing - as well as
        nine knowledge areas.
        These nine areas center on management expertise in Project Integration,
        Project Scope, Project Time, Project Cost, Project Quality, Project Human Resources,
        Project Communications, Project Risk Management and Project Procurement.

    .projectmechanics-section-content
      h2#meetings.subheading.mb-3 Issue Management
      p.lead.
        Issue resolution is an important aspect of project management because it helps to ensure that problems
        and challenges are addressed and resolved in a timely and effective manner.
        This can have a positive impact on the overall success of a project.
      p.
        Effective issue resolution involves identifying and addressing issues as they arise, rather than letting them fester and potentially impact the project negatively. This can be done through regular communication with team members, as well as the use of tools such as project management software and issue tracking systems.
      p.
        Once an issue is identified, it is important to prioritize it based on its potential impact on the project. The issue should then be assigned to a team member or group who is responsible for resolving it. This team should work to identify the root cause of the issue and come up with a plan for addressing it.
      p.
        The resolution of the issue should be closely monitored to ensure that it is being handled effectively. This may involve regular check-ins with the team responsible for resolving the issue, as well as regular updates to the project manager and other stakeholders.
      p.
        Overall, effective issue resolution is an important part of successful project management. By addressing issues quickly and effectively, project managers can help to ensure that their projects are completed on time and within budget.
      h2 Is it an Issue?
      p.
        Due to the dynamic and fast pace of changes on projects, there is a need for a centralized clearinghouse
        for all issues related to a project. The centralized issue management clearinghouse is used to capture
        and prioritize each issue.
        A common issue log database facilitates open communication between the project management
        and project stakeholders.
        In order to achieve the maximum benefit from an issue log, a set of procedures should be created to manage issues as they arise.

      h2 Issue Lifecycle
      p.
        Once captured, issues need to be assigned to the appropriate team and prioritized. This will facilitate quick and concise communications between the Client and project management regarding the development status and the status of all issues that (may) affect it.
      ol
        li
          strong Receive Issues
          |  - All requests for work between project management and the client&nbsp;should be documented as an issue. Issues can be received by any contacts such as electronic mail, phone calls, faxes, or mailed requirements.
          br
          | In addition to issues created by the Client, project personnel&nbsp;should also create issues in the database for Review. Any updates to the issue, including any changes, re-interpretations, clarifications, or decision happening out side the database&nbsp;should be documented in the issue resolution database to ensure proper handling and resolution.
        li
          strong Prioritize Issues
          |  - Based on input from the issue creator, project management&nbsp;should assign a priority to each issue. The priority&nbsp;should be used once the issue has been reviewed and categorized.
        li
          strong Review Issues
          |  - Project Management&nbsp;should review each new issue and assign the issue into one of the following six issue categories (This list can be modified to fit the needs of the project):
          ul
            li Functional Bugs (Not working as defined)
            li Content Changes
            li Stability and Performance Issues (Requires specialized skill set to resolve)
            li Site Enhancements (Changes to functional definition of site)
            li Research Request (Requires specialized skill set to resolve)
            li
              | Process change (new reporting requirements, status call changes, distribution list changes)
        li
          strong Assign Issues
          |  - The issue&nbsp;should be assigned to the appropriate team members. Once an issue has been assigned to a team, it is the responsibility of each team manager to monitor and resolve issues in their area. The Project Manager is responsible for monitoring the success of the issue resolution process.&nbsp; Issues will be associated with a project. It is up to the project manager to review each issue and determine if a scope change is required. Any issues that affect budget or schedule must have a scope change document approved that covers the change that the issues creates.&nbsp; Multiple issues can be covered by a single scope change document.
        li
          strong Resolve Issues -
          | The issue&nbsp;is considered resolved when all points have been addressed and any modifications validated.

      h2 Issue Status Codes Defined
      ul
        li
          strong Outstanding
          |  - An issue has been reported and is awaiting review/assignment.
        li
          strong Assigned
          |  - The issue is assigned to a resource, however work has not started on the issue.
        li
          strong In Progress
          |  - The issues is actively being worked on.
        li
          strong Awaiting Feedback
          |  - The issues is requires a business decision on the appropriate response.&nbsp; All work is suspended pending feedback.
        li
          strong Ready To Test
          |  - The issue has been fixed and the fix in an environment for the owner to test and validate the issue has been resolved. All work has been suspended.
        li
          strong Resolved
          |  - The owner and assignee agree that the issue has been resolved. All work is suspended.
        li
          strong Not Reproducible
          |  - The Assignee has been unable to&nbsp;reproduce the reported problem. The owner has been consulted and concurs with the assignee that the problem is not reproducible. All work is suspended.
        li
          strong Hold
          |  - This issue has been placed on hold by either the owner or assignee. All work is suspended.
        li
          strong Rejected
          |  - This issue has been rejected by the assignee as not an issue. All work is suspended.
        br

      h2 Importance of Issue Tracking
      p
        | Creating an effective issue capture form is an important part of managing issues in a project. This form can help project managers and team members to identify, track, and resolve issues in a timely and effective manner.
      p
        | To create an issue capture form, start by identifying the key information that needs to be included. This may include the following:
      ul
        li A brief description of the issue
        li The date and time the issue was identified
        li The name of the person who identified the issue
        li The location or area of the project where the issue was identified
        li The potential impact of the issue on the project
        li
          | Any other relevant information, such as the root cause of the issue or potential solutions
      p
        | Once this information has been identified, the next step is to create the form itself. This can be done using a word processing or spreadsheet program, or with the help of a project management software tool.
      p
        | When creating the form, make sure to use a clear and concise format that is easy to understand and fill out. Consider using visual aids, such as checklists or drop-down menus, to make it easier for team members to provide the necessary information.
      p
        | Once the form has been created, it should be distributed to all team members and stakeholders involved in the project. This will allow them to easily submit any issues they identify, and will ensure that all issues are tracked and addressed in a consistent manner.
      p
        | Overall, an effective issue capture form is an important tool for project managers looking to identify, track, and resolve issues in a timely and effective manner. By creating a clear and concise form, project managers can ensure that all issues are captured and addressed effectively, helping to ensure the success of their project.
      p
        | Issues are captured using the Issue Capture Form within an issue tracking system.
      h3 Here is an example of an issue tracking form definition
      p
        strong REQUIRED fields:
      ul
        li
          strong Issue Datetime
          |  - Date and time that issue was recorded.
        li
          strong Issue Status
          |  - Choice list from code table called &quot;IssueStatus&quot;
        li
          strong Requirement
          | - Project Requirement that owns issue
        li
          strong Issue Title
          |  - Free form text field to describe issue
        li
          strong Priority
          |  - Choice list from code table &quot;Priority&quot;
        li
          strong Type
          |  - Choice list from code table called &quot;IssueType&quot;
        li
          strong Assigned To
          |  - Primary contact for issue resolution.
        li
          strong Owner
          |  - The person reporting the issue, will be the primary contact to validate issue resolution
        li
          strong Owner Phone
          |  - Owner preferred contact phone number
        li
          strong Description of Issue
          |  - Text field for details about the issue
      p
        strong OPTIONAL fields:
      ul
        li
          strong Estimated Hours
          |  - Choice list to estimate how many hours the issue will require to resolve
        li
          strong Remaining
          | - Estimate of how many more hours will be required to resolve issue.
        li
          strong Complete Date
          |  - Date issue is closed (status of Resolved, Not Recreatable, Hold, or Rejected)
        li
          strong Resolution
          |  - Text field to describe issue resolution



    .projectmechanics-section-content
      h2#meetings.mb-3 Metings
      p.lead.
        Project meetings can be the black hole of project management. Without some basic
        meeting guidelines, the project can grind to a halt as meeting after meeting takes over everyone&apos;s time.
        It does not have to be that way.
        Meetings can be a place where great progress is made and effective use of team member&rsquo;s time.
        But you must make sure that you have the right people at the right meeting.
      p.
        Too many times team members suffer from FoMS (Fear of Missing Something) and attend meetings
        outside of their role on the project. A way to combat FoMS is to make your project meeting
        schedule public and to make access to meeting minutes easy.
        Offering a way for project team members to view and comment on meetings they did not attend will also help combat FoMS.
      p.
        All project meetings should be scheduled in advance and have a published agenda and attendance guidelines.
        Even in the event of an emergency meeting, a quick agenda (for example: Why is the server down?)
        and documented meeting results are critical. Action items from a meeting should be tracked through an issue management system.
      p.
        Meeting minutes should be published and readily available to all team members as quickly as possible.
        The purpose of the meeting minutes is to create a history of the decisions made in meetings and to
        give project team members the information they need to decide which meetings to attend in the future.
      p.
        Meeting minutes should contain the following information:
      ul
        li The person who called the meeting
        li The time the meeting occurred
        li The formal name of the project that the meeting is associated with
        li Brief description of the meeting purpose
        li List of all meeting attendees
        li The meeting agenda
        li Meeting Minutes
      p.
        The meeting minutes are a summation of the discussions, action items and decisions from the meeting.
        It is very important to specify any decisions that were made at the meeting.
        Action items should be cross-referenced with a issue management system.

    .projectmechanics-section-content
      h2#brainstorming.mb-3 brainstorming
      p.lead.
        Brainstorming is a common technique used in project management planning to generate ideas
        and solutions for a project. It involves bringing together a group of people, encouraging them to think creatively,
        and capturing all of the ideas that are generated.
      p
        | Here are some best practices for conducting a brainstorming session in the context of project management planning:
      ol
        li
          p
            | Define the problem or opportunity: Before conducting a brainstorming session, it&apos;s important to clearly define the problem or opportunity that the project is addressing. This will help to focus the brainstorming session and ensure that the ideas generated are relevant and aligned with the project&apos;s goals.
        li
          p
            | Assemble a diverse group of people: Brainstorming is most effective when it involves a diverse group of people with different backgrounds, perspectives, and expertise. This will help to generate a wide range of ideas, and it will ensure that all perspectives are considered.
        li
          p
            | Encourage creative thinking: The goal of a brainstorming session is to generate as many ideas as possible, so it&apos;s important to encourage creative thinking. This could involve using techniques such as lateral thinking, mind mapping, or the &quot;six hats&quot; method to stimulate creativity and encourage participants to think outside of the box.
        li
          p
            | Capture all ideas: During the brainstorming session, make sure to capture all of the ideas that are generated. This could involve using a whiteboard or flipchart, or using a digital tool such as a shared document or online whiteboard. It&apos;s important to capture all of the ideas, even if they seem impractical or unrealistic, as they may provide the seeds for more practical and achievable solutions.
        li
          p
            | Evaluate and prioritize the ideas: After the brainstorming session, it&apos;s important to evaluate and prioritize the ideas that were generated. This could involve using a decision-making framework, such as the Six Sigma DMAIC methodology, to evaluate the ideas based on their feasibility, cost, and potential impact. The most promising ideas can then be prioritized and included in the project plan.
      p
        | Conducting a brainstorming session is a valuable tool for project management planning, as it can help to generate a wide range of ideas and perspectives that can be used to inform the project plan.
      p
        | Brainstorming is a free-form approach to examining as broad a range of options as possible. Its most effective use is for developing ideas or identifying issues. A successful brainstorming session&nbsp;lets people be as creative as possible and does not restrict their ideas in any way.
      h3  Successful Brainstorming Guidelines
      p
        | There are certain guidelines that should be followed during a brainstorming session to ensure that it is productive and effective
      ul
        li
          | Encourage everyone to participate; do not hold back on any ideas, even if they seem silly at the time; the more ideas the better.
        li No sidebar discussions during the brainstorming session. That will come later.
        li
          | No judgment. No one can criticize another&apos;s ideas, not even with a groan or grimace!
        li Let people hitchhike --- build upon ideas generated by others in the group.
        li Write all ideas on a flip chart so the whole group can easily scan them.
      h3 Sequence of Events
      ol
        li
          | Review the topic, defining the subject of the brainstorming session. Often this process is done best as a &quot;why&quot;, &quot;how,&quot; or &quot;what&quot; question, (&quot;How many different ways can we define this issue?&quot;).
        li Give everyone a minute or two of silence to think about the question.
        li
          | Go around the room to allow each person to call out one idea or issue at a time. Keep going around the room until everyone runs out of ideas. If a person that is called upon does not have an idea, he/she may pass. The meeting facilitator should enforce the ground rules (&quot;No discussion! Next idea...&quot;).
        li
          | One participant or the facilitator should write down all ideas on the flip chart, pausing only to check accuracy.
      br


    .projectmechanics-section-content
      h2#facilitated-sessions.mb-3 Facilitated Sessions
      p.lead.
        A highly structured meeting in which the meeting leader (the facilitator) guides the participants through a series of
        pre-defined steps to arrive at a result that is created, understood and accepted by all participants.

      h3 Guidelines
      p
        | The following guidelines will help to ensure that our sessions run smoothly and that we achieve our objectives.
      dl
        dt Rank
        dd
          p.
            Leave rank/position in the company at the door. When we convene for these meetings, our objective is to provide as creative an atmosphere as possible. Pulling rank can stifle creativity. When must all actively promote ourselves as equals in the workshop sessions.
        dt Judgment
        dd
          p.
            Participants need to suspend judgment while generating ideas and discussing issues. We should only judge under limited circumstances. For example, we need our judgment to prioritize or vote on issues. However, the key is to listen and learn from other participants. Try to avoid using &quot;killer phrases&quot; such as, &quot;That will never work,&quot; or &quot;That is a terrible idea.&quot; Finally, recognize that not everyone in the room may share your opinion and we must respect the opinion of others.
        dt Attendance
        dd
          p.
            Participants should place a high priority on both large groups and break our group meetings.
            Interruptions to meetings fall under the &quot;100 Mile Rule.&quot; This rule states, &quot;
            No one should be called from the meeting unless it is so important that the disruption would occur even
            if the meeting was 100 miles away from the workplace.
        dt Promptness
        dd
          p.
            All meetings should start and end on time. This adherence to schedule makes it easier to stay on target with the agenda.
        dt Participation
        dd
          p.
            Everyone's viewpoint is valuable.
            Every participant can make a unique contribution to the project.
            Therefore, we must emphasize the importance of both speaking freely and listening attentively.
            If unequal participation is a problem, we must structure discussions so that everyone can contribute.
            Keep your comments short so that all participants have the opportunity to participate.
            Dominating the discussions will not only limit others' participation but may also intimidate some of the group members.

      h3 Basic Conversational Courtesies
      p
        | Listen attentively and respectfully to others; do not interrupt; one conversation at a time; and so forth.
      p Breaks
      p
        | We will take scheduled breaks periodically throughout the morning and afternoon sessions. We will limit these breaks to 15 minutes. All participants must return from breaks on time to enable the group to meet the workshop objectives.
      p Consensus
      p
        | Participants will be asked to reach decisions by consensus. Consensus is more efficient and allows greater buy-in to decisions than voting or unanimous agreement.
      h3 What is the role of the facilitator?
      p Guide
      p
        | The facilitator must know the steps of the process from beginning to end, and he must carefully guide the participants through each phase.
      p Motivator
      p
        | From the rousing opening statement, to the closing words of cheer, the facilitator must ignite a fire within the group and keep it well lit. The facilitator must establish momentum and keep pace.
      p Bridge Builder
      p
        | Where other people see differences, the facilitator must see similarities and use the similarities to establish a foundation for building bridges to consensus.
      p Clairvoyant
      p
        | Throughout the session, the facilitator must watch carefully for potential signs of strain, weariness, aggravation, dis-empowerment and respond in advance to avoid dysfunctional behavior.
      p Peacemaker
      p
        | While it is almost always better to avoid a direct confrontation between participants, should such an event occur the facilitator must quickly step in, re-establish order and direct the energy toward constructive resolution.
      p Taskmaster
      p
        | The facilitator is ultimately responsible for keeping the session on track; this means tactfully cutting short irrelevant discussions, preventing detours off the main course and maintaining a consistent level of detail throughout.
      p Praiser
      p
        | At every opportunity to do so, the facilitator should praise the effort put forth, the progress made, and the results achieved. Praise well, praise often, praise specifically.
      h3 What are the other roles in a facilitated session?
      p Project Sponsor
      p
        | Sets the overall objectives for the session. Typically kicks off the facilitated session to demonstrate support for the activity.
      p Project Manager
      p
        | Oversees the content of the facilitated session to ensure that the project objectives are being met.
      p Documentor
      p
        | Documents the results of the session as recorded by the facilitator, being sure to avoid any paraphrasing or alteration.
      p Timekeeper
      p
        | Tracks the time of each activity in the session, and alerts the group when an activity exceeds the time allotted.
      p Participant
      p
        | Participates in the facilitated session by contributing to the discussion and ensuring that the content is accurate, acceptable and sufficiently comprehensive; should arrive at the session prepared to participate.
      p Observer
      p Quietly observes the session activity without impacting the result.
      h3 Ensure that you have a clear understanding of the session objective:
      ul
        li Why are we having this session?
        li What is the purpose?
        li What are the expected results from the session?
        li
          | What is it that made you ecstatic?
          blockquote
            | Pretend for a minute that we were at the end of the session and about to wrap up,and you were ecstatic because as a result of the session we... Fill in the blank.
      h3 Your room and other aids:
      ul
        li Use a &quot;horse shoe&quot; or &quot;open U&quot; or semi circle seating arrangement.
        li Post ground rules, parking boards and session objective and agenda at the front.
        li
          | Ensure adequate supplies are available (flip chart, multi-colored markers, tape, name tags, coffee, cups, water).
      h3 Your opening words must:
      ul
        li
          | Inform the participants about what is going to happen through the session objective.
        li
          | Get them excited about the process by giving them a clear vision of the overall result to be achieved and the benefits.
        li
          | Get them involved in the process by having them speak as early as possible (e.g. asking their personal objectives).
        li
          | Empower them by discussing the important role they play in the process, the reason they were selected, the authority that has been given to them, etc.
      h3 Getting Started:
      ul
        li Arrive early
        li Set up
        li Interact with Participants during the gathering period
        li Kick-off promptly
        li Give opening statement
        li Review purpose, agenda, ground rules, parking boards, and housekeeping
      h3 Sample Ground Rules:
      ul
        li Everyone speaks
        li Respect the speaker
        li Everyone in equal
        li No idea is dumb
        li Avoid &ldquo;sidebar discussion&rdquo;
        li Start on time/end on time
        li &ldquo;Choo, Choo&rdquo;
        li (think outside the nine dots)
      h3 Parking Boards:
      blockquote
        | Help you keep the group focused by having a place to &ldquo;park&rdquo; discussion topics that don&rsquo;t need to be addressed at the moment they come up. By &ldquo;parking&rdquo; a topic, you are telling the participant that the input was valuable and will be addressed at a later date.
      p Issues List
      p
        | items relevant to the session that need to be discussed later in the session or outside the session.
      p Decisions List
      p
        | decisions that are made by the group that should be documented for future reference.
      p Actions List
      p actions to be performed sometime after completion of the session.
      h3 Warm up the Group:
      p
        | It is typical for participants in a session to be initially reserved and very willing to allow others to speak first. Therefore, it is not unusual for the first question the facilitator asks to be met with complete silence. To ensure that you avoid this question/silence pitfall, it is important to warm-up the group. Get them used to responding, first non-verbally, then verbally:
      ul
        li
          | Ask a series of pre-questions (at least two) which lead up to your primary question
        li
          | Structure each pre-question so that the response requires some level of non-verbal participant involvement (e.g. raised hand)
        li &ldquo;How many of you have ever participated in a facilitated session?&rdquo;
        li &ldquo;How many of you have ever participated in a requirements definition project?&rdquo;
      h3 Focusing the Group:
      ul
        li Label your charts
        li
          | Avoid detours by using
          ol
            li Objective
            li Ground rules
            li Parking Boards
            li
              | Redirecting questions
              blockquote
                | (&ldquo;What you are saying is interesting,should we put it on the issues list...&rdquo; and then focus back)
        li Be conscious of time constraints
      h3 The Seven Deadly Sins of Facilitation:
      blockquote
        | More times than not, these sins by the facilitator will lead to some form of dysfunctional behavior by one or more members o the group. If the facilitator continues his/her behavior, full scale revolt by the participants is quite possible.
      ol
        li
          | The facilitator chooses which comments are worthy to be recorded on the flip charts.
        li
          | The facilitator interprets the words that are spoken and records the interpretation, instead of recording what is said.
        li
          | The facilitator permits the group to wander away from the stated objective for extended periods of time.
        li
          | The facilitator permits the ground rules to be broken without taking visible, corrective action.
        li
          | The facilitator is perceived as losing neutrality and favoring one position over another.
        li
          | The facilitator speaks emotionally charged words at a session attendee or permits a session attendee to speak emotionally charged words to another, and does not take visible, corrective action.
        li
          | The facilitator allows an atmosphere of distrust or disrespect to build between himself/herself and the session attendees.
      h3 The Power of the Pen:
      ul
        li Write first, discuss second.
        li Write what is said, not what your heard.
        li Write so they can read it.
        li Edit by adding, use a different colored pen.
        li Slow down a speaker who is talking too fast by speaking as you write.
        li If more than one person tries to speak, order the speakers.
      h3 Information Gathering:
      p Listing:
      p to gather detail
      p Brain-storming
      p to generate ideas
      p Grouping
      p to categorize
      p Prioritize
      p to identify the most important items
      p Questions:
      table(border='1')
        thead
          tr
            th Type
            th Purpose
            th Example
        tbody
          tr
            td Direct Probe
            td Challenge or probe
            td Why is that important?
          tr
            td Indirect Probe
            td Probe/clarify
            td Is the reason that&rsquo;s important because...?
          tr
            td Redirection
            td Get back on track
            td That&rsquo;s a good point. Can we put that on the issues list?
          tr
            td Playback
            td Confirm
            td It sounds like what you are saying
          tr
            td Leading Question
            td Lead to other thoughts
            td Are there solutions in the area of...?
          tr
            td Prompt Question
            td Keep the ideas flowing
            td What else...
          tr
            td Tag Question
            td Get acknowledgment
            td That&rsquo;s important, isn&rsquo;t it?
          tr
            td Float an Idea
            td Give a possible solution
            td What about...? What are the
          tr
            td &nbsp;
            td &nbsp;
            td &nbsp;
      h3 Closing the Session:
      ul
        li Review activities performed during the session.
        li Review all parking boards, decisions made and issues outstanding
        li Identify a spokesperson
        li &nbsp;
        li Close the session by thanking the participants and reviewing next steps
      br
