extends ../layouts/projectmechanics

block pagehead
  title Mark Hazleton - Project Mechanics
  meta(name='description', content='Mark Hazleton - Project Mechanics - The Art and Science of Project Management')
  meta(name='author', content='Mark Hazleton')
  link(rel='canonical', href='https://markhazleton.com/projectmechanics/')

block layout-content

  section#post.projectmechanics-section.projectmechanics-section-background
    .projectmechanics-section-content
      h1.mb-0 Project Mechanics
      p.lead.
        I have spent a considerable amount of time in the field of software development,
        particularly in client delivery roles. Over the years, this experience has led me to
        develop a concept I call <strong>Project Mechanics</strong>. It's a term I coined to encapsulate
        the methodology I found effective in managing and delivering software projects.
        <strong>Project Mechanics</strong>, in its essence, is about understanding and applying a blend of
        structured project management techniques along with a flexible,
        adaptive approach to problem-solving.
        It's not about reinventing the wheel but rather about using proven strategies
        in a way that can be adapted to the specific needs and challenges of each project.
      p.
        <strong>Project Mechanics</strong> is built on the foundation of clear communication, efficient planning,
        and agile response to change. It emphasizes the importance of understanding the project scope thoroughly,
        managing resources efficiently, and maintaining open lines of communication with all stakeholders.
        The aim of <strong>Project Mechanics</strong> is not to claim a one-size-fits-all solution but to offer a practical,
        adaptable framework that can guide project teams in navigating the complexities of software development
        and client delivery. It’s a reflection of lessons learned and strategies honed over years
        of real-world experience, shared in the hope that it can assist others in their project management endeavors.

      .subheading The Art and Science of Project Management
      p.
        Successful project management is part &quot;art&quot; and part &quot;mechanics&quot;.
        <strong>Project Mechanics</strong> are objective and relatively easy to describe,
        whereas the art of project management is left to each individual&apos;s interpretation.
        However, <strong>Project Mechanics</strong> are tasks that simply must be carried
        out to ensure project success.
        The level of detail associated with each task is determined on a
        project-by-project basis, but the fundamental steps must be followed.
        It is important to note, however, that simply mechanically performing
        tasks will not ensure project success.
        The tasks and procedure framework described are only a foundation
        for project success - not a guarantee.
      p.
        True project success relies less on project mechanics
        and more on the art that is the subjective side of Project Management.
        At the core of this subjective area is the art of effective communication.
      p.
        More than any other soft skill, a Project Manager must learn to
        effectively communicate with the three constituencies of a project in a service deliver environment:
      dl
        dt Client
        dd who is receiving the output of the project
        dt Staff
        dd who is performing the steps necessary to complete the project object
        dt Management
        dd the folks tracking the project&apos;s progress and ensuring that the project is profitable

      p.
        Project management is the discipline of planning, organizing,
        and managing resources to bring about the successful completion
        of specific project goals and objectives.
        The Project Manager has the responsibility of leading the team to success.
        Both client and Company personnel will look to the project managers
        for leadership throughout the project life cycle.
        Mastering project mechanics, determining their appropriate application,
        and effective communication with all parties involved is the challenge
        facing every project manager.
      p.
        Project work is about managing and participating in projects
        from concept to operational use.
        Topics include techniques of project scope, work breakdown analysis,
        task estimating and scheduling, and resource, risk and cost management.
        The human aspects of project work, teams and communication
        are addressed as are quality assurance and quality standards.
      p.
        Project Management Professional - PMP
      p.
        Once you know that you have a project, you need to find someone to make it happen.
        A project manager is uniquely responsible for the execution
        and success of the project.
        <a href='https://www.pmi.org/' rel="noopener noreferrer" target='_blank' alt='Project Management Institute'>The project management institute (PMI)</a>
        is the world&apos;s leading not-for-profit professional membership association.
        is the world&apos;s leading not-for-profit professional membership association.
        PMI says it best in the 2000 edition of A Guide to the
        Project Management Body of Knowledge (PMBOK&reg; Guide):
      blockquote.
        Project management is the application of knowledge, skills, tools,
        and techniques to a broad range of activities
        to meet the requirements of a particular project.
        Project management is comprised of five processes -
        Initiating, Planning, Executing, Controlling, and Closing - as well as
        nine knowledge areas.
        These nine areas center on management expertise in Project Integration,
        Project Scope, Project Time, Project Cost, Project Quality, Project Human Resources,
        Project Communications, Project Risk Management and Project Procurement.
