extends ../layouts/projectmechanics

block pagehead
  meta(http-equiv="refresh" content="0; url=https://markhazleton.com/projectmechanics/")
  title Mark Hazleton - Project Mechanics
  meta(name='description', content='Mark Hazleton - Project Mechanics - The Art and Science of Project Management')
  meta(name='author', content='Mark Hazleton')
  link(rel='canonical', href='https://markhazleton.com/projectmechanics/')

block layout-content

 p Redirecting to
 a(href="https://markhazleton.com/projectmechanics/") New Page

 script window.location.href = 'https://markhazleton.com/projectmechanics/';
