extends ../layouts/projectmechanics.pug

block pagehead
  title Test Page - Project Mechanics

block layout-content
  .container.mt-5.pt-5
    .row
      .col-lg-12
        h1.text-center Test Page
        p.lead.text-center Testing the modernized Project Mechanics layout and JavaScript functionality.

        .alert.alert-info(role="alert")
          h4.alert-heading Well done!
          p This is a test page to verify:
          hr
          ul.mb-0
            li Bootstrap 5 is loading correctly
            li Navigation dropdowns are working
            li JavaScript is functioning properly
            li Favicon is loading
            li CSS styles are applied

        .row.mt-4
          .col-md-6
            .card
              .card-header
                h5 Navigation Test
              .card-body
                p The navigation dropdowns above should be working. Try clicking on:
                ul
                  li Project Mechanics dropdown
                  li Change Management dropdown
                  li Leadership dropdown

          .col-md-6
            .card
              .card-header
                h5 Bootstrap Components Test
              .card-body
                button.btn.btn-primary.me-2(type="button", data-bs-toggle="tooltip", data-bs-placement="top", title="This is a Bootstrap tooltip") Hover for Tooltip
                button.btn.btn-secondary.dropdown-toggle(type="button", data-bs-toggle="dropdown", aria-expanded="false") Test Dropdown
                ul.dropdown-menu
                  li
                    a.dropdown-item(href="#") Action
                  li
                    a.dropdown-item(href="#") Another action
                  li
                    hr.dropdown-divider
                  li
                    a.dropdown-item(href="#") Something else here
